<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="DevExtreme.AspNet.Data" version="2.5.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Kendo.DynamicLinq" version="1.1.2.0" targetFramework="net452" />
  <package id="Mapster" version="3.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NLog" version="4.5.11" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
</packages>