/packages
/AALife.Web/Images/Users
/AALife.Web/Bin
/AALife.BLL/obj
/AALife.BLL/bin
/.vs
/AALife.DAL/obj
/AALife.DAL/bin
/AALife.DBUtility/obj
/AALife.DBUtility/bin
/AALife.Model/obj
/AALife.Model/bin
/AALife.Test/obj
/AALife.Test/bin
/AALife.WindowsService/obj
/AALife.WindowsService/bin
/AALife.Web/Backup
/AALife.Web/Log
/AALife.EF/bin
/AALife.EF/obj
/AALife.MSMQ/obj
/AALife.MSMQ/bin
/AALife.Service/obj
/AALife.Service/bin
/deploy
/AALife.WebMvc/bin
/AALife.WebMvc/obj
/SexSpider.Core/bin
/SexSpider.Core/obj
/AALife.WebMvc/Images/bg
/AALife.WebMvc/Images/content
/AALife.Core/obj
/AALife.Core/bin
/AALife.Data/obj
/AALife.Data/bin
