@using System.Configuration;

@{
    ViewBag.Title = "消费列表 3";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="products"></div>
            <div id="products2"></div>
            <input id="products3" />
            <div id="products4"></div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="buttondown"></div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#products").kendoComboBox({
                placeholder: "Select product",
                dataTextField: "ProductName",
                dataValueField: "ProductID",
                filter: "contains",
                autoBind: false,
                minLength: 3,
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Products",
                        }
                    }
                }
            });

            var filter0 = "";
            $("#products2").kendoComboBox({
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/api/v1/categorytypenamesapi",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            return { term: options.filter.filters[0].value };
                        }
                    },
                    //requestStart: function (e) {
                    //    if (e.sender.filter() == undefined || e.sender.filter().filters.length == 0) {
                    //        e.preventDefault();
                    //    }
                    //}
                },
                filtering: function (e) {
                    if (e.filter == undefined) {
                        e.filter = filter0;
                        e.sender.dataSource.filter(filter0);
                        e.preventDefault();
                    } else {
                        filter0 = e.filter;
                    }
                    if ($.trim(e.filter.value) == "") {
                        e.preventDefault();
                    }
                },
                valuePrimitive: true,
                autoBind: false,
                minLength: 2,
                filter: "contains",
                placeholder: "请输入",
                dataTextField: "text",
                dataValueField: "value"
            });

            $("#products3").kendoAutoComplete({
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/api/v1/categorytypenamesapi",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            return { term: options.filter.filters[0].value };
                        }
                    },
                    //requestStart: function (e) {
                    //    if (e.sender.filter() == undefined || e.sender.filter().filters.length == 0) {
                    //        e.preventDefault();
                    //    }
                    //}
                },
                filtering: function (e) {
                    if (e.filter == undefined || $.trim(e.filter.value) == "") {
                        e.preventDefault();
                    }
                },
                autoBind: false,
                minLength: 2,
                filter: "contains",
                dataTextField: "text"
            });

            $("#products4").kendoDropDownList({
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/api/v1/categorytypenamesapi",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            return { term: options.filter.filters[0].value };
                        }
                    },
                    //requestStart: function (e) {
                    //    if (e.sender.filter() == undefined || e.sender.filter().filters.length == 0) {
                    //        e.preventDefault();
                    //    }
                    //}
                },
                filtering: function (e) {
                    if (e.filter == undefined || $.trim(e.filter.value) == "") {
                        e.preventDefault();
                    }
                },
                autoBind: false,
                minLength: 2,
                filter: "contains",
                optionLabel: "请输入",
                dataTextField: "text",
                dataValueField: "value"
            });

            //自定义按钮组
            var buttonDown = $("#buttondown").kendoButtonDown({
                dataSource: [
                    { title: "全部", code: "b_all" },
                    { title: "本年", code: "b_year", sub: true },
                    { title: "本季", code: "b_quarter", sub: true },
                    { title: "本月", code: "b_month", sub: true },
                    { title: "本周", code: "b_week", sub: true },
                    { title: "本日", code: "b_day", sub: true }
                ],
                callback: function (data) {
                    console.log(data);
                }
            });

        });
    </script>
}