@using System.Configuration;

@{
    ViewBag.Title = "消费列表";
    var webSite = ConfigurationManager.AppSettings["webSite"].ToString();
    var pageNumber = WebConfiguration.PageNumber;
    var pagePerNumber = WebConfiguration.PagePerNumber;
}

<span id="notification"></span>

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline search-zone">
            <div class="form-group">
                <div class="k-widget k-button-group k-buttondown" id="buttondown">
                </div>
            </div>
            <div class="form-group">
                <label>日期</label>
                <input id="start" value="" class="s-input" />
                &minus;
                <input id="end" value="" class="s-input" />
            </div>
            <div class="form-group">
                <label>关键字</label>
                <input class="k-textbox" id="keysearch" value="" placeholder="商品名称" />
            </div>
        </form>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div id="main">
            <div id="grid"></div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->

@section scripts {
    <script>
        
        $(document).ready(function () {

            //刷新高度
            resizeMain();

            //查询对象
            var query = { startDate: "", endDate: "", keyWords: "", userId: @ViewBag.UserId };
            var btnDownFlag = "";

            //开始日期
            var start = $("#start").kendoDatePicker({
                change: changeDate,
                value: month_start(),
                format: "yyyy/MM/dd"
            }).data("kendoDatePicker");

            //结束日期
            var end = $("#end").kendoDatePicker({
                change: changeDate,
                value: month_end(),
                format: "yyyy/MM/dd"
            }).data("kendoDatePicker");

            //列表数据源
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: $.const.webapi.items,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        data: function () { return query },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Content-Encoding', "gzip");
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify({ models: options.models[0] });
                        }
                        return options;
                    }
                },
                pageSize: @pagePerNumber,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number" },
                            ItemName: { type: "string" },
                            CategoryTypeId: { type: "number" },
                            ItemPrice: { type: "number" },
                            ItemBuyDate: { type: "date" },
                            UserId: { type: "number" },
                            Recommend: { type: "number" },
                            ModifyDate: { type: "date" },
                            Synchronize: { type: "number" },
                            ItemAppId: { type: "number" },
                            RegionId: { type: "number" },
                            RegionType: { type: "string" },
                            ItemType: { type: "string" },
                            ZhuanTiId: { type: "number" },
                            CardId: { type: "number" },
                            Remark: { type: "string" }
                        }
                    },
                    errors: "error"
                },
                requestEnd: function (e) {                    
                    if (e.type !== "read") {
                        if (e.response.d.error) {
                            return;
                        } else {
                            e.sender.read(query);
                        }
                    }
                },
                error: function (e) {
                    notification.show(e.errors, "error");
                    grid.one("dataBinding", function (x) {
                        x.preventDefault();
                    });
                }
            });
            
            //列表
            var grid = $("#grid").kendoGrid({
                dataSource: dataSource,
                autoBind: false,
                navigatable: true,
                resizable: true,
                filterable: false,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true,
                    showIndexes: true
                },
                groupable: false,
                //selectable: "multiple",
                pageable: {
                    pageSizes: @pageNumber,
                    buttonCount: 10,
                    messages: {
                        display: "共 {2} 条"
                    }
                },
                columnMenu: {
                    columns: false
                },
                columns: [                    
                    {
                        field: "Id",
                        title: "编号",
                        width: 80
                    },
                    {
                        field: "ItemTypeName",
                        title: "分类",
                        width: 80,
                        filterable: { multi: true }
                    },
                    {
                        field: "ItemName",
                        title: "商品名称",
                        width: 150
                    },
                    {
                        field: "CategoryTypeName",
                        title: "商品类别",
                        width: 150
                    },
                    {
                        field: "ItemPrice",
                        title: "价格",
                        format: "{0:#,0.###}",
                        attributes: { style: "text-align: right" },
                        width: 90
                    },
                    {
                        field: "ItemBuyDate",
                        title: "日期",
                        width: 100,
                        format: "{0:yyyy/MM/dd}"
                    },
                    {
                        field: "UserName",
                        title: "用户名",
                        width: 90
                    },
                    {
                        field: "Recommend",
                        title: "推荐否",
                        width: 80,
                        filterable: { multi: true }
                    },
                    {
                        field: "ModifyDate",
                        title: "修改日期",
                        width: 150,
                        format: "{0:yyyy/MM/dd HH:mm:ss}"
                    },
                    {
                        field: "Synchronize",
                        title: "同步否",
                        width: 80,
                        filterable: { multi: true }
                    },
                    {
                        field: "RegionName",
                        title: "固定",
                        width: 80,
                        filterable: { multi: true }
                    },
                    {
                        field: "CardName",
                        title: "钱包",
                        width: 80
                    },
                    {
                        field: "ZhuanTiName",
                        title: "专题",
                        width: 80
                    },
                    {
                        field: "Remark",
                        title: "备注",
                        width: 150
                    }
                ]
            }).data("kendoGrid");

            //自定义按钮组
            var buttonDown = $("#buttondown").kendoButtomDown({
                dataSource: [
                    { title: "全部", code: "b_all" },
                    { title: "本年", code: "b_year", sub: true },
                    { title: "本季", code: "b_quarter", sub: true },
                    { title: "本月", code: "b_month", sub: true },
                    { title: "本周", code: "b_week", sub: true },
                    { title: "本日", code: "b_day", sub: true }
                ],
                callback: function (data) {
                    setDate(data.startDate, data.endDate);
                    btnDownFlag = data.buttonDown;
                    queryList(true);
                }
            }).data("kendoButtomDown");
            
            //关键字组件
            var keySearch = $("#keysearch").kendoKeySearch({
                minLength: 1,
                done: function (key) {
                    setButtonDown("");
                    setDate("", "");
                    queryList();
                },
                focus: function (e) {
                    if (!e.key) {
                        setQuery();
                        e.data = { "startDate": start.value(), "endDate": end.value(), "buttonDown": btnDownFlag };
                    }
                },
                empty: function (data) {
                    setDate(data.startDate, data.endDate);
                    setButtonDown(data.buttonDown);
                    queryList();
                }
            }).data("kendoKeySearch");

            //提示
            var notification = $("#notification").kendoNotification({
                position: {
                    top: Math.floor($(window).height() / 2.5),
                    left: Math.floor($(window).width() / 2.2),
                    pinning: false
                }
            }).data("kendoNotification");
            
            //更改日期事件
            function changeDate() {
                setButtonDown("");
                queryList(true);
            }

            //设置日期值
            function setDate(startDate, endDate) {
                start.value(startDate);
                end.value(endDate);
            }

            //关键字清除
            function clearKey() {
                query.keyWords = "";
                keySearch.clear();
            }

            //设置按钮下拉
            function setButtonDown(code) {
                btnDownFlag = code;
                buttonDown.selected(code);
            }

            //设置查询条件
            function setQuery() {
                var _start = start.value();
                if (_start == null) _start = "";
                query.startDate = kendo.toString(_start, "yyyy/MM/dd 00:00:00");

                var _end = end.value();
                if (_end == null) _end = "";
                query.endDate = kendo.toString(_end, "yyyy/MM/dd 23:59:59");

                query.keyWords = keySearch.value();
                query.userId = @ViewBag.UserId;
            }

            //列表查询
            function queryList(flag) {
                if (flag) clearKey();
                setQuery();
                dataSource.page(1);
                dataSource.skip(0);
            }

            //初始化
            function init() {
                var userId = @ViewBag.UserId;
                if (!$.isEmptyObject(userId)) {
                    setButtonDown("");
                    setDate("", "");
                    return;
                }

                setButtonDown("b_day");
                setDate(today_date(), today_date());
            }

            //resizeGrid();
            init();
            queryList();
            navActive(1);

        });
    </script>
}