body {
    font-size: 13px;
    font-family: "Microsoft YaHei", "黑体";
    padding: 7px; /*影响main高度*/
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.search-zone {
    margin-bottom: 7px;
}

.body-zone {
    overflow: hidden;
    margin-top: 38px;
}

/*top菜单区*/
.top-zone .nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-sm {
    min-height: 39px;
}

.bg-brown .navbar-inverse {
    color: #fff;
    border-color: #896f66;
    background-color: #997b71;
}

.bg-brown .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.bg-brown .f-down:hover,
.bg-brown .navbar-inverse .navbar-nav > .open > a,
.bg-brown .navbar-inverse .navbar-nav > .open > a:hover,
.bg-brown .navbar-inverse .navbar-nav > .active > a,
.bg-brown .navbar-inverse .navbar-nav > .active > a:hover,
.bg-brown .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #896f66;
}

/*top下拉菜单*/
.f-down > a {
    display: inline-block !important;
    float: left;
    padding-right: 0 !important;
}

.f-down > a[role=button] {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.f-down > a[role=button]:hover {
    color: #999 !important;
}

/*search区*/
.search-zone .s-input {
    width: 126px;
}

.search-zone input.s-input {
    border-color: #c5c5c5;
    outline: 0;
    border-radius: 4px;
    border-width: 1px;
    padding: .17857143em 0;
    line-height: 1.65em;
}

.search-zone .form-group {
    margin-right: 7px;
}

/*grid控件*/
#grid {
    height: 100%;
}

/*头像*/
.k-grid .k-user {
    display: inline-block;
    width: 42px;
    height: 42px;
}

.k-grid .k-user > img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    width: 40px;
    height: 40px;
    position: relative;
}

.detailgrid .k-user, 
#usergrid .k-user {
    width: 30px;
    height: 30px;
}

.detailgrid .k-user > img,
#usergrid .k-user > img {
    width: 28px;
    height: 28px;
}

.body-zone .k-dropzone {
    padding: 6px;
}

.form-body {
    margin-top: 10px;
}

/*buttondown控件*/
.k-buttondown .k-button {
    padding: 0 !important;
    overflow: visible;
}

.k-buttondown .k-link[role=button] {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    display: inline-block;
}

.k-buttondown .f-link[role=button] {
    padding-left: 8px !important;
    padding-right: 2px !important;
}

.k-buttondown .s-link {
    padding-left: 0px !important;
    padding-right: 1px !important;
}

.k-buttondown .dropdown-menu {
    min-width: 100%;
}

.k-buttondown .dropdown-menu .btn-link {
    width: 100%;
    text-align: left;
}

.k-buttondown .s-link:hover {
    color: #5293C4;
}

.btn.btn-link.active, 
.btn.btn-link:active, 
.btn.btn-link:focus, 
.open > .btn.btn-link.active, 
.open > .btn.btn-link:active, 
.open > .btn.btn-link:focus {
    text-decoration: underline;
}

/*grid命令按钮*/
.k-grid tbody .k-command-cell .k-button {
    min-width: 26px;
}

.k-command-cell .k-button {
    padding-left: 2px;
    padding-right: 2px;
}

.k-command-cell .k-button-icontext .k-icon {
    margin: 0;
}

.k-dialog .k-content {
    padding: 8px;
}

.k-i-filter:before {
    content: "\e015"; /*"\e031"*/
}

.k-grid.k-widget .checkbox, .table th .checkbox {
    min-height: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/*bootsrap extends*/
.nav-sm > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}



/* TABLES */
table td .form-group {
    margin-bottom: 0;
    margin-top: 2px;
}

.table-bordered {
    border-collapse: separate;
    border-spacing: 0;
    border-color: #c5c5c5;
    border-left: none;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 0 0 0 1px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td {
    text-align: left;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .5em .6em .4em .6em;
    font-weight: normal;
    white-space: normal;
    text-overflow: ellipsis;
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,.0) 100%);
    background-image: none,-moz-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,.0) 100%);
    background-image: none,-o-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,.0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,.0) 100%);
    background-position: 50% 50%;
    background-color: #e3e3e3;
}

.table-bordered tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table-bordered tr:hover td {
    background-color: #e3e3e3;
}


/*搜索栏*/
.searchbar {
    /*height: 34px;
    margin-bottom: 5px;*/
}

.searchbar .form-group,
.searchbar button {
    margin-bottom: 3px;
}

.searchbar .form-group .input-group .k-datepicker {
    width: 110px !important;
}

.searchbar .form-group .input-group .k-textbox {
    width: 80px !important;
}

.searchbar label,
.searchbar button {
    margin-left: 5px;
    margin-right: 5px;
}
