body {
    font-family: 'Microsoft YaHei', SimHei, Arial !important;
    background-color: #ecf0f5;
}
.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}
#main table {
    background-color: #fff;
}

.k-edit-form-container .col-xs-6,
.k-edit-form-container .col-xs-4 {
    padding: 0;
}


/*adminlte*/
.content-wrapper {
    min-height: inherit;
    background-color: #ecf0f5;
}
.content-header {
    padding: 5px 5px 0 5px;
}
.content {
    padding: 5px;
    min-height: inherit;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ecf0f5;
}
.user-block img {
    width: 32px;
    height: 32px;
    float: none;
    border: 2px solid #ccc;
}
.k-window .user-block img {
    width: 26px;
    height: 26px;
}
.user-img-td {
    text-align: center;
    padding: 2px !important;
}
.dropdown-menu {
    border-radius: 0;
    border-color: #dbdbdb;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #e4e4e4;
}
.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*kendo*/
.k-grid {
    height: 100%;
}
.k-grid tbody .k-button {
    min-width: auto;
}
/*.k-grid td {
    white-space: nowrap;
}*/
.k-i-filter:before {
    content: "\e015";
}
html .k-upload {
    width: 12.4em;
}
.k-dropzone {
    padding: 0;
}


/*buttondown控件*/
.buttondown .k-button {
    /*padding: 0 !important;*/
    overflow: visible;
}
.buttondown .dropdown-menu {
    min-width: 100%;
    border-radius: 0;
    border-color: #dbdbdb;
    margin: 2px 0 0 -1px;
}
.buttondown .dropdown-menu li {
    text-align: center;
}
.buttondown .k-state-active .k-link,
.buttondown .k-button:hover .k-link {
    color: #fff;
}
.buttondown .k-button:hover .s-link:hover,
.buttondown .k-state-active .s-link:hover {
    color: #00c0ef !important;
}
.buttondown .k-state-active .active {
    text-decoration: underline;
}
.buttondowndate label {
    margin-left: 5px;
    margin-right: 5px;
}


/*searchbar控件*/
.searchbar .form-group,
.searchbar button {
    margin-bottom: 3px;
}
.searchbar .form-group .input-group .k-datepicker {
    width: 120px !important;
}
.searchbar .form-group .input-group .k-textbox {
    width: 80px !important;
}
.searchbar label,
.searchbar button {
    margin-left: 5px;
    margin-right: 5px;
}


/*选择窗口样式*/
.k-ext-dialog-grid-content .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}
.k-ext-dialog-grid-content .row {
    height: 100%;
}
.k-ext-dialog-grid-content .col-xs-1,
.k-ext-dialog-grid-content .col-xs-2,
.k-ext-dialog-grid-content .col-xs-3,
.k-ext-dialog-grid-content .col-xs-4,
.k-ext-dialog-grid-content .col-xs-5,
.k-ext-dialog-grid-content .col-xs-6,
.k-ext-dialog-grid-content .col-xs-7,
.k-ext-dialog-grid-content .col-xs-8,
.k-ext-dialog-grid-content .col-xs-9,
.k-ext-dialog-grid-content .col-xs-10,
.k-ext-dialog-grid-content .col-xs-11,
.k-ext-dialog-grid-content .col-xs-12 {
    height: 100%;
    padding: 0;
}