
@{
    ViewBag.Title = "角色用户";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="left" class="col-xs-2 k-block">
                <div class="k-header">角色列表</div>
                <div id="treeview"></div>
            </div>
            <div id="main" class="col-xs-10">
                <div id="grid"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<script src="~/Areas/Manage/Scripts/roles.js"></script>
<script>
    //变量
    var _selectedId = 0;

    $(document).ready(function () {

        //树数据源
        var hiDataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: $.const.webapi.rolestree,
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "id",
                    hasChildren: "hasChildren",
                    children: "items",
                    expanded: true,
                    value: "value"
                },
            }
        });

        //主数据源
        var treeview = $("#treeview").kendoTreeView({
            dataSource: hiDataSource,
            dataBound: function (e) {
                treeview.select(".k-first");
                treeview.trigger("select", {
                    node: $("#treeview .k-first")[0]
                });
            },
            select: function (e) {
                var dataItem = treeview.dataItem(e.node);
                _selectedId = dataItem.id;
                //刷新主列表
                grid.dataSource.read();
            }
        }).data("kendoTreeView");

        //用户来自数据源
        var dataUserFrom = new kendo.data.DataSource({
            transport: {
                read: {
                    url: String.format($.const.webapi.paramsbyname, "userfrom"),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });

        //主列表
        var grid = $("#grid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.rolesuser,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: function (d) {
                            d.id = _selectedId;
                            return d;
                        },
                        cache: false
                    }
                },
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number" },
                            UserName: { type: "string" },
                            UserNickName: { type: "string" },
                            UserImage: { type: "string" },
                            UserImageFull: { type: "string" },
                            UserFrom: { type: "string" },
                            UserFromName: { type: "string" },
                            CreateDate: { type: "date" },
                            ModifyDate: { type: "date" },
                            Remark: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: false,
            toolbar: [{ name: "userselect", text: "选择", iconClass: "k-icon k-i-search" }, { name: "userdelete", text: "删除", iconClass: "k-icon k-i-delete" }],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Id",
                    title: "编号",
                    width: 100
                },
                {
                    field: "UserName",
                    title: "用户名",
                    width: 100
                },
                {
                    field: "UserNickName",
                    title: "昵称",
                    width: 100
                },
                {
                    template: "<div class='user-block'><img src='#=UserImageFull#' class='img-circle'/></div>",
                    field: "UserImage",
                    title: "头像",
                    width: 100,
                    attributes: { class: "user-img-td" }
                },
                {
                    template: "#=UserFromName#",
                    field: "UserFrom",
                    title: "来自",
                    width: 100,
                    filterable: {
                        multi: true,
                        dataSource: dataUserFrom,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>"
                        }
                    }
                },
                {
                    field: "CreateDate",
                    title: "注册日期",
                    width: 100,
                    format: "{0:yyyy/MM/dd}"
                },
                {
                    field: "ModifyDate",
                    title: "修改日期",
                    width: 100,
                    format: "{0:yyyy/MM/dd}"
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 100
                }
            ]
        })).data("kendoGrid");

        //选择按钮事件
        $("#grid .k-grid-toolbar").on("click", ".k-grid-userselect", function (e) {
            e.preventDefault();
            $("#dialog").data("kendoDialog").open();
        });

        //删除按钮事件
        $("#grid .k-grid-toolbar").on("click", ".k-grid-userdelete", function (e) {
            e.preventDefault();
            var items = $("#grid .k-grid-content .k-state-selected");
            if (items.length > 0) {
                var result = [];
                for (var i = 0; i < items.length; i++) {
                    var dataItem = grid.dataItem(items[i]);
                    result.push(dataItem);
                }
                delete_rolesuser(_selectedId, result, function (d) {
                    kendoui_ajax_complete();
                    var grid = $("#grid").data("kendoGrid");
                    grid.dataSource.read();
                });
            }
        });

    });

    //用户选择回调
    function userselect_callback(dataItem) {
        insert_rolesuser(_selectedId, dataItem, function () {
            //dialog_close(e);
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        });
    }
</script>

@Html.Partial("UserSelect")
