@{ 
    var siteName = WebConfiguration.SiteName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | @siteName</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap Core Css -->
    <link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="~/Scripts/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    <!-- jqGrid -->
    <link href="~/Scripts/jqGrid/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
    <link href="~/Scripts/jqGrid/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()

    <!-- Jquery Core Js -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-tmpl/jquery.tmpl.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- Moment Plugin Js -->
    <script src="~/Scripts/moment.min.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.zh-CN.js"></script>

    <!-- jqGrid -->
    <script src="~/Scripts/jqGrid/js/grid.locale-cn.js"></script>
    <script src="~/Scripts/jqGrid/js/jquery.jqGrid.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/String.js"></script>
    <script src="~/Scripts/date-custom.js"></script>
    <script src="~/Scripts/common.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
