@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>错误。</h1>
        <h2>处理你的请求时出错。</h2>
    </hgroup>
    @if (Model != null)
    {
    <div>
        <p class="bg-danger text-danger">
            异常类型：@Model.Exception.GetType().Name
        </p>
        <p class="bg-danger text-danger">
            触发异常的控制器：@Model.ControllerName
        </p>
        <p class="bg-danger text-danger">
            触发异常的操作方法：@Model.ActionName
        </p>
        <p class="bg-danger text-danger">
            错误信息:@Model.Exception.Message
        </p>
        <p class="bg-info text-info">
            页面路径:~/Views/Shared/CustomError.cshtml
        </p>
    </div>
    }
</body>
</html>
