body {
    font-family: 'Microsoft YaHei', SimSun;
}

.page-content {
    padding: 15px;
}

.nav-tabs.tabs-aa {
    padding-top: 9px;
    background: none;
    border: none;
}

.user {
    display: inline-block;
    width: 42px;
    height: 42px;
}

.user>img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    width: 40px;
    height: 40px;
    position: relative;
}

.km-widget.km-buttongroup .km-button {
    padding: 3px 7px;
}

label {
    font-weight: 700;
}

.k-grid tbody .k-command-cell .k-button {
    min-width: 26px;
}

.k-command-cell .k-button {
    padding-left: 2px;
    padding-right: 2px;
}

.k-command-cell .k-button-icontext .k-icon {
    margin: 0;
}

.k-dropzone {
    padding: .45em .8em;
}

.form-group {
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.overflow-y {
    overflow-y: auto;
}

@media (max-width: 768px) {
    .page-content {
        padding: 8px !important;
    }
}

@media (max-width: 420px) {
    .hidden-aa {
        display: none !important;
    }
}

@media (min-width: 419px) {
    .show-aa {
        display: none !important;
    }
}