body {
    font-family: 'Microsoft YaHei', SimSun;
}

.nav-tabs.aa_tabs {
    padding-top: 9px;
    background: none;
    border: none;
}

.user {
    display: inline-block;
    width: 42px;
    height: 42px;
}

.user>img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    width: 40px;
    height: 40px;
    position: relative;
}