body {
    font-family: 'Microsoft YaHei', SimSun;
}

.page-content {
    padding: 15px;
}

/*头像*/
.k-grid .k-user {
    display: inline-block;
    width: 42px;
    height: 42px;
}

.k-grid .k-user>img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    width: 40px;
    height: 40px;
    position: relative;
}

/*buttondown控件*/
.k-buttondown .k-button {
    padding: 0 !important;
}

.k-buttondown .k-link {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    display: inline-block;
}

.k-buttondown .k-link[role=button] {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.k-buttondown .dropdown-menu {
    min-width: 100%;
}

.k-buttondown .dropdown-menu .btn-link {
    width: 100%;
    text-align: left;
}

/*grid命令按钮*/
.k-grid tbody .k-command-cell .k-button {
    min-width: 26px;
}

.k-command-cell .k-button {
    padding-left: 2px;
    padding-right: 2px;
}

.k-command-cell .k-button-icontext .k-icon {
    margin: 0;
}

/*.k-dropzone {
    padding: .45em .8em;
}*/

/*工具栏*/
.form-group {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}

label {
    font-weight: 700;
}

/*顶部标签*/
.nav-tabs {
    padding-top: 9px !important;
    background: none !important;
    border: none !important;
}

@media (max-width: 768px) {
    .page-content {
        padding: 8px !important;
    }
}

@media (max-width: 420px) {
    .k-hidden {
        display: none !important;
    }
}

@media (min-width: 419px) {
    .k-show {
        display: none !important;
    }
}

@media (max-width: 479px) {
    .navbar-fixed-top + .main-container {
        padding-top: 45px;
    }
}

@media only screen and (max-width: 640px) {
    .k-edge .k-pager-info, .k-ff .k-pager-info, .k-ie11 .k-pager-info, .k-safari .k-pager-info, .k-webkit .k-pager-info {
        display: block;
    }
}
