@{
    ViewBag.Title = "Employees";
}

<span id="notification"></span>

<div class="row">
    <div class="col-xs-12">
        <div id="main">
            <div id="treelist"></div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->

@section scripts {
    <script>
        $(document).ready(function () {

            var dataSource = new kendo.data.TreeListDataSource({
                transport: {
                    read: {
                        url: "/api/v1/Employees",
                        dataType: "json",
                        type: "GET"
                    },
                    update: {
                        url: "api/Employees/",
                        dataType: "json",
                        type: "PUT"
                    },
                    destroy: {
                        url: "api/Employees/",
                        dataType: "json",
                        type: "DELETE"
                    },
                    create: {
                        url: "api/Employees",
                        dataType: "json",
                        type: "POST",

                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                },
                schema: {
                    model: {
                        id: "EmployeeID",
                        parentId: "ReportTo",
                        fields: {
                            EmployeeID: { type: "number", nullable: false },
                            ReportTo: { field: "ReportTo", nullable: true }
                        }
                    }
                }
            });

            $("#treelist").kendoTreeList({
                dataSource: dataSource,
                toolbar: ["create"],
                filterable: true,
                editable: true,
                sortable: true,
                columns: [
                    { field: "FirstName", expandable: true, title: "FirstName", width: 250 },
                    { field: "LastName", title: "LastName", width: 250 },
                    { field: "Designation", title: "Designation", width: 250 },
                    {
                        title: "Edit", command: ["edit", "destroy"], width: 250,
                        attributes: {
                            style: "text-align: center;"
                        }
                    }

                ]
            });
        });  
    </script>
}
