<!--选择权限tree-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="dialog-treeview"></div>
        </div>
    </div>
</div>

<script>
    $("#dialog-treeview").kendoTreeView({
        checkboxes: {
            checkChildren: true
        },
        dataSource: {
            //data: @Html.Raw(Json.Encode(Model)),
            transport: {
                read: {
                    url: String.format("/api/v1/permissionstreeapi?id={0}", '@Model')
                }
            },
            schema: {
                model: {
                    id: "Id",
                    children: "items"
                }
            }
        }
    });

</script>

