@model AALife.WebMvc.Models.ViewModel.PermissionListModel
@helper CreatePermissionTreeItems()
{
    var permissions = Model.UserPermissions.ToList();
    if (!permissions.Any())
    {
        return;
    }

    <ul>
        @foreach (var permission in permissions)
        {
            var selected = Model.GrantedPermissionNames.Contains(permission.Name);
            var guid = Guid.NewGuid();
            <li>
                <input class='k-checkbox' id='@guid' type='checkbox' /><label for='@guid' class='k-checkbox-label k-no-text'></label>
                @permission.Name
            </li>
        }
    </ul>
}
<div class="permission-tree">
    @CreatePermissionTreeItems()
</div>