<!--选择用户grid-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="dialog-usergrid"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        //用户来自数据源
        var dataUserFrom = new kendo.data.DataSource({
            transport: {
                read: {
                    url: String.format($.const.webapi.paramsbyname, "userfrom"),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });

        //选择用户列表
        var dialog_usergrid = $("#dialog-usergrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.usersselect,
                        cache: false,
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        kendoui_parameter_format(options);
                        return options;
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string" },
                            UserName: { type: "string" },
                            UserNickName: { type: "string" },
                            UserNameFull: { type: "string" },
                            UserImage: { type: "string" },
                            UserImageFull: { type: "string" },
                            UserFrom: { type: "string" },
                            UserFromName: { type: "string" },
                            CreateDate: { type: "date" },
                            Remark: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                },
                pageSize: 10
            },
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Id",
                    title: "编号",
                    width: 100,
                    hidden: true
                },
                {
                    field: "UserName",
                    title: "用户名",
                    width: 100
                },
                {
                    field: "UserNickName",
                    title: "昵称",
                    width: 100
                },
                {
                    template: "<div class='user-block'><img src='#=UserImageFull#' class='img-circle'/></div>",
                    field: "UserImage",
                    title: "头像",
                    width: 100,
                    attributes: { class: "user-img-td" }
                },
                {
                    template: "#=UserFromName#",
                    field: "UserFrom",
                    title: "来自",
                    width: 100,
                    filterable: {
                        multi: true,
                        dataSource: dataUserFrom,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>"
                        }
                    }
                },
                {
                    field: "CreateDate",
                    title: "注册日期",
                    width: 100,
                    format: "{0:yyyy/MM/dd}"
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 100
                }
            ]
        }));

    });
</script>
