<!--选择用户grid-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="dialog-commongrid"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        //用户列表
        $("#dialog-commongrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.users,
                        cache: false,
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        kendoui_parameter_format(options);
                        return options;
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string" },
                            UserName: { type: "string" },
                            UserCode: { type: "string" },
                            FirstName: { type: "string" },
                            Position: { type: "object" },
                            CreateDate: { type: "date" },
                            Remark: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                },
                pageSize: 10
            },
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Id",
                    title: "编号",
                    width: 100,
                    hidden: true
                },
                {
                    field: "FirstName",
                    title: "姓名",
                    width: 100
                },
                {
                    field: "UserName",
                    title: "用户名",
                    width: 100
                },
                {
                    field: "UserCode",
                    title: "用户编码",
                    width: 100
                },
                {
                    template: "#= data.Position ? Position.Name : '' #",
                    field: "Position",
                    title: "所属岗位",
                    width: 200
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 100
                }
            ]
        }));

    });
</script>
