@model AALife.WebMvc.Models.ViewModel.UserRoleListModel
@helper CreateItems()
{
    var userRoles = Model.UserRoles.ToList();
    if (!userRoles.Any())
    {
        return;
    }

    <ul class="list-unstyled">
        @foreach (var userRole in userRoles)
        {
            var selected = Model.SelectedNames.Contains(userRole.Name);
            var guid = Guid.NewGuid();
            var isChecked = selected ? "checked=\"checked\"" : "";
            <li>
                <input class='k-checkbox' id='@guid' type='checkbox' @isChecked /><label for='@guid' class='k-checkbox-label k-no-text'></label>@userRole.Name
            </li>
        }
    </ul>
}
<div>
    @CreateItems()
</div>