<!--选择用户grid-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="dialog-grid"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        //用户列表
        $("#dialog-grid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.users,
                        cache: false,
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        kendoui_parameter_format(options);
                        return options;
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: $.kendo.user.fields
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                },
                pageSize: 10
            },
            columns: $.kendo.user.columns
        }));

    });
</script>
