@*选择用户窗口*@

<div id="dialog"></div>

<script>
    $(document).ready(function () {

        //选择对话框
        $("#dialog").kendoDialog({
            width: "1000px",
            visible: false,
            title: "选择用户",
            closable: true,
            modal: false,
            content: '<div id="usergrid"></div>',
            actions: [
                { text: '取消' },
                { text: '确认', primary: true, action: actionOK }
            ],
            close: initOpen
        }).data("kendoDialog");

        //用户来自数据源
        var dataUserFrom = new kendo.data.DataSource({
            transport: {
                read: {
                    url: String.format($.const.webapi.paramsbyname, "userfrom"),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });

        //选择用户列表
        var userGrid = $("#usergrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.userselects,
                        cache: false,
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string" },
                            UserName: { type: "string" },
                            UserNickName: { type: "string" },
                            UserImage: { type: "string" },
                            UserImageFull: { type: "string" },
                            UserFrom: { type: "string" },
                            UserFromName: { type: "string" },
                            CreateDate: { type: "date" },
                            Remark: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                },
                pageSize: 10
            },
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Id",
                    title: "编号",
                    width: 100,
                    hidden: true
                },
                {
                    field: "UserName",
                    title: "用户名",
                    width: 100
                },
                {
                    field: "UserNickName",
                    title: "昵称",
                    width: 100
                },
                {
                    template: "<div class='user-block'><img src='#=UserImageFull#' class='img-circle'/></div>",
                    field: "UserImage",
                    title: "头像",
                    width: 100,
                    attributes: { class: "user-img-td" }
                },
                {
                    template: "#=UserFromName#",
                    field: "UserFrom",
                    title: "来自",
                    width: 100,
                    filterable: {
                        multi: true,
                        dataSource: dataUserFrom,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>"
                        }
                    }
                },
                {
                    field: "CreateDate",
                    title: "注册日期",
                    width: 100,
                    format: "{0:yyyy/MM/dd}"
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 100
                }
            ]
        })).data("kendoGrid");

        //打开对话框
        function initOpen(e) {
            //debugger;//TODO:关闭时会重复提示错误
            userGrid.dataSource.page(1);
            userGrid.dataSource.skip(0);
        }

        //对话框确定事件
        function actionOK(e) {
            var items = userGrid.element.find("table tbody .k-state-selected");
            if (items.length > 0) {
                var result = [];
                for (var i = 0; i < items.length; i++) {
                    var dataItem = userGrid.dataItem(items[i]);
                    result.push(dataItem);
                }
                //insert_userrole(_Id, result, function () {
                //    dialog_close(e);
                //});
                userselect_callback(result);
            }
        }

    });
</script>