<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SexSpider</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/theme/kendoui2019/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/theme/kendoui2019/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/theme/kendoui2019/styles/kendo.mobile.all.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Areas/SexSpider/Content/sexspider.default.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/SexSpider/Site" class="navbar-brand"><i class="fa-icon fa fa-bug"></i> SexSpider</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/theme/kendoui2019/js/kendo.all.min.js"></script>
    <script src="~/theme/kendoui2019/js/cultures/kendo.culture.zh-CN.min.js"></script>
    <script src="~/theme/kendoui2019/js/messages/kendo.messages.zh-CN.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/String.js"></script>
    <script src="~/Scripts/jqthumb.js"></script>
    <script src="~/Areas/SexSpider/Scripts/sexspider.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        function resizeMain() {
            var div = $("#main");
            var windowHeight = $(window).innerHeight();
            var offsetTop = div.offset().top;
            var paddingBottom = 0;
            var fixHeight = 0;

            var calculatedHeight = windowHeight - offsetTop - paddingBottom - fixHeight;
            div.height(calculatedHeight);
        }

        //小屏幕
        function IsSmallScreen() {
            return $(window).width() < 768;
        }

        jQuery(function ($) {
            // kendo ui
            kendo.culture("zh-CN");
        });

        //解决kendo日期时区问题
        Date.prototype.toISOString = function () {
            return moment(this).format("YYYY-MM-DDTHH:mm:ss");
        };

    </script>

</body>
</html>
