body {
    background: url("bg.jpg") center top repeat;
}

#m_right .r_query input, 
#m_right .r_query select {
    color: #004276;	
    font-weight: bold;
}
#m_right .r_query .queryinput input[type=text] {
    border: 1px solid #eee;
    background: #fff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
    border-radius: 4px;
    padding: 2px;
}

#m_left a, 
.tablehome .homelink a {
    color: #004276;
}
#m_left a:hover, 
#m_left .l_curli a:hover {
    background-color: #c00;
    color: white;
}
#m_left .l_curli a, 
.tablehome .homelink a:hover {
    color: #c00;
}

.tableform input.btninput {
    background-color: #c00;
    color: white;
}

.usermenu .on, 
.usermenu .on a {
    color: #c00;
}
.usermenu a {
    color: #004276;
}
.usermenu a:hover, 
.usermenu .on a:hover {
    color: #c00;
}
