@{
    ViewBag.Title = "组织管理";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="left" class="col-xs-2 k-block">
                <div class="k-header">组织树</div>
                <div id="treeview"></div>
            </div>
            <div id="main" class="col-xs-10">
                <!--组织-->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">组织列表</h3>
                    </div>
                    <div class="box-body">
                        <div id="deptmentgrid">
                            @*@Html.CreateGridButton("Manage", "Deptments", "buttons")*@
                        </div>
                    </div>
                </div>
                <!--岗位-->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">岗位列表</h3>
                    </div>
                    <div class="box-body">
                        <div id="positiongrid"></div>
                    </div>
                </div>
                <!--用户-->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title user-title">组织用户</h3>
                    </div>
                    <div class="box-body">
                        <div id="usergrid"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<script src="~/Areas/Manage/Scripts/deptments.js"></script>
<script src="~/Areas/Manage/Scripts/positions.js"></script>

<script>
    //变量
    var _selectedId = null;
    var _deptmentId = null;
    var _isDeptment = false;

    $(document).ready(function () {

        /*树模块begin*/

        //树列表
        var treeview = $("#treeview").kendoTreeView({
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.deptmentspositiontree,
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        hasChildren: "hasChildren"
                    }
                }
            },
            template: "#= item.IsDeptment ? '' : '<i class=\"fa fa-sticky-note-o\"></i> ' ##= item.Name #",
            select: function (e) {
                var dataItem = e.sender.dataItem(e.node);
                _selectedId = dataItem.Id;
                _deptmentId = dataItem.IsDeptment ? dataItem.Id : dataItem.DeptmentId;
                _isDeptment = dataItem.IsDeptment;

                //组织
                var deptment = $("#deptmentgrid").data("kendoGrid");
                deptment.dataSource.read();

                //岗位
                var position = $("#positiongrid").data("kendoGrid");
                position.dataSource.data([]);
                position.dataSource.read();
                if (_isDeptment) {
                    $(".user-title").text("组织用户");
                } else {
                    $(".user-title").text("岗位用户");
                }

                //用户
                var user = $("#usergrid").data("kendoGrid");
                if (_isDeptment) {
                    $("#usergrid .k-grid-toolbar").hide();
                    user.dataSource.transport.options.read.url = String.format($.const.webapi.deptmentsuser_id, _selectedId);
                } else {
                    $("#usergrid .k-grid-toolbar").show();
                    user.dataSource.transport.options.read.url = String.format($.const.webapi.positionsuser_id, _selectedId);
                }
                user.dataSource.page(1);
            }
        });

        setTimeout(function () {
            treeviewHeight();
        });

        //树高度
        function treeviewHeight() {
            var windowHeight = $(window).innerHeight();
            var offsetTop = $("#treeview").offset().top;
            var treeHeight = windowHeight - offsetTop - 20;
            $("#treeview").height(treeHeight);
        }

        /*树模块end*/

        /*组织模块begin*/

        //组织列表
        var deptment = $("#deptmentgrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    update: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    destroy: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    create: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models);
                        }
                        return options;
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: $.kendo.deptment.fields
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: true,
            filterable: false,
            pageable: false,
            scrollable: false,
            editable: true,
            toolbar: ["create", "save", "cancel", "destroy", { name: "privilege", text: "授权", iconClass: "k-icon k-i-lock" }],
            columns: $.kendo.deptment.columns
        }));

        //组织新增按钮
        $("#deptmentgrid .k-grid-toolbar .k-grid-add").on("click", function (e) {
            e.preventDefault();
            var grid = $("#deptmentgrid").data("kendoGrid");
            grid.addRow();
        });

        //组织保存按钮
        $("#deptmentgrid .k-grid-toolbar .k-grid-save-changes").on("click", function (e) {
            e.preventDefault();
            var grid = $("#deptmentgrid").data("kendoGrid");
            grid.saveChanges();
        });

        //组织取消按钮
        $("#deptmentgrid .k-grid-toolbar .k-grid-cancel-changes").on("click", function (e) {
            e.preventDefault();
            var grid = $("#deptmentgrid").data("kendoGrid");
            grid.cancelChanges();
        });

        //组织删除按钮
        $("#deptmentgrid .k-grid-toolbar .k-grid-delete").on("click", function (e) {
            e.preventDefault();
            var selection = [];
            var grid = $("#deptmentgrid").data("kendoGrid");
            grid.select().each(function () {
                var dataItem = grid.dataItem($(this));
                selection.push(dataItem);
            });
            if (selection <= 0) {
                alert("请选择一条数据。");
                return;
            }
            if (window.confirm("你确定要删除这条数据吗？")) {
                delete_deptments(selection, function (d) {
                    kendoui_ajax_complete();
                    grid.dataSource.read({ id: _selectedId });
                }, function (e) {
                    kendoui_ajax_error(e);
                });
            }
        });

        //组织授权按钮
        $("#deptmentgrid .k-grid-toolbar .k-grid-privilege").on("click", function (e) {
            e.preventDefault();
            var grid = $("#deptmentgrid").data("kendoGrid");
            if (grid.select().length != 1) {
                alert("请选择一条数据。");
                return;
            }
            var dataItem = grid.dataItem(grid.select()[0]);
            // ext dialog
            $.when(kendo.ui.ExtTreeViewDialog.show({
                width: "350px",
                height: "500px",
                content: "/Manage/Home/PermissionSelect?id=" + dataItem.Id,
                title: "权限菜单"
            })).done(function (response) {
                if (response.selected) {
                    insert_deptmentspermission(dataItem.Id, response.selected, function (d) {
                        kendoui_ajax_complete();
                    });
                }
            });
        });

        /*组织模块end*/

        /*岗位模块begin*/

        //岗位列表
        var position = $("#positiongrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    update: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    destroy: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    create: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models);
                        }
                        return options;
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: $.kendo.position.fields
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: false,
            filterable: false,
            pageable: false,
            scrollable: false,
            editable: true,
            toolbar: ["create", "save", "cancel", "destroy", { name: "privilege", text: "授权", iconClass: "k-icon k-i-lock" }],
            //toolbar: [{ name: "create", text: "新增" }, { name: "save", text: "保存" }, { name: "cancel", text: "取消" }, { name: "destroy", text: "删除" }],
            columns: $.kendo.position.columns,
            //dataBound: function () {
            //    $("input[type=checkbox]").on('click', function () {
            //        var checkedStatus = $(this).is(':checked');
            //        $(this).attr('checked', checkedStatus);
            //        $(this).closest("tr").toggleClass("k-state-selected");
            //    });
            //}
        }));

        //岗位删除按钮
        $("#positiongrid .k-grid-toolbar .k-grid-delete").on("click", function (e) {
            e.preventDefault();
            var selection = [];
            var grid = $("#positiongrid").data("kendoGrid");
            grid.select().each(function () {
                var dataItem = grid.dataItem($(this));
                selection.push(dataItem);
            });
            //var view = grid.dataSource.view();
            //grid.items().each(function (index, row) {
            //    var checked = $(row).find("input[type=checkbox]").prop("checked");
            //    if (checked) {
            //        selection.push(view[index]);
            //    }
            //});
            if (selection.length > 0) {
                if (window.confirm("你确定要删除这条数据吗？")) {
                    delete_positions(_selectedId, selection, function (d) {
                        kendoui_ajax_complete();
                        grid.dataSource.read();
                    }, function (e) {
                        kendoui_ajax_error(e);
                    });
                }
            }
        });

        //岗位授权按钮
        $("#positiongrid .k-grid-toolbar .k-grid-privilege").on("click", function (e) {
            e.preventDefault();
            var grid = $("#positiongrid").data("kendoGrid");
            if (grid.select().length != 1) {
                alert("请选择一条数据。");
                return;
            }
            var dataItem = grid.dataItem(grid.select()[0]);
            // ext dialog
            $.when(kendo.ui.ExtTreeViewDialog.show({
                width: "350px",
                height: "500px",
                content: "/Manage/Home/PermissionSelect?id=" + dataItem.Id,
                title: "权限菜单"
            })).done(function (response) {
                if (response.selected) {
                    insert_positionspermission(dataItem.Id, response.selected, function (d) {
                        kendoui_ajax_complete();
                    });
                }
            });
        });

        /*岗位模块end*/

        /*用户模块begin*/

        //用户列表
        var user = $("#usergrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: function (item) {
                            return String.format($.const.webapi.deptmentsuser_id, _selectedId);
                        }
                    }
                },
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: $.kendo.user.fields
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: false,
            scrollable: false,
            toolbar: [{ name: "select", text: "选择", iconClass: "k-icon k-i-search" }, { name: "delete", text: "移除", iconClass: "k-icon k-i-delete" }],
            columns: $.kendo.user.columns
        }));

        //用户选择按钮事件
        $("#usergrid .k-grid-toolbar").on("click", ".k-grid-select", function (e) {
            e.preventDefault();

            // ext dialog
            $.when(kendo.ui.ExtGridDialog.show({
                width: "1000px",
                height: "500px",
                content: "/Manage/Home/DeptmentUserSelect?id=" + _deptmentId,
                title: "选择用户"
            })).done(function (response) {
                if (response.selected) {
                    insert_positionsuser(_selectedId, response.selected, function (d) {
                        kendoui_ajax_complete();
                        var grid = $("#usergrid").data("kendoGrid");
                        grid.dataSource.read();
                    });
                }
            });
        });

        //用户删除按钮事件
        $("#usergrid .k-grid-toolbar").on("click", ".k-grid-delete", function (e) {
            e.preventDefault();

            var items = $("#usergrid tbody .k-state-selected");
            if (items.length > 0) {
                var result = [];
                var grid = $("#usergrid").data("kendoGrid");
                for (var i = 0; i < items.length; i++) {
                    var dataItem = grid.dataItem(items[i]);
                    result.push(dataItem);
                }
                delete_positionsuser(_selectedId, result, function (d) {
                    kendoui_ajax_complete();
                    grid.dataSource.read();
                });
            }
        });

        //初始化
        $("#usergrid .k-grid-toolbar").hide();

        /*用户模块end*/
    });

</script>
