@{
    ViewBag.Title = "测试 3";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="grid"></div>
            <div id="positiongrid"></div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<script>

    var _selectedId = 'ad33e3f6-587a-e611-80dd-00155d83030a';

    $(document).ready(function () {
        //var crudServiceBaseUrl = "https://demos.telerik.com/kendo-ui/service";

        //$("#grid").kendoGrid({
        //    dataSource: {
        //        transport: {
        //            read: {
        //                url: crudServiceBaseUrl + "/Products",
        //                dataType: "jsonp"
        //            },
        //            update: {
        //                url: crudServiceBaseUrl + "/Products/Update",
        //                dataType: "jsonp"
        //            },
        //            destroy: {
        //                url: crudServiceBaseUrl + "/Products/Destroy",
        //                dataType: "jsonp"
        //            },
        //            create: {
        //                url: crudServiceBaseUrl + "/Products/Create",
        //                dataType: "jsonp"
        //            },
        //            parameterMap: function (options, operation) {
        //                if (operation !== "read" && options.models) {
        //                    return { models: kendo.stringify(options.models) };
        //                }
        //            }
        //        },
        //        batch: true,
        //        pageSize: 20,
        //        schema: {
        //            model: {
        //                id: "ProductID",
        //                fields: {
        //                    ProductID: { editable: false, nullable: true },
        //                    ProductName: { validation: { required: true } },
        //                    UnitPrice: { type: "number", validation: { required: true, min: 1 } },
        //                    Discontinued: { type: "boolean" },
        //                    UnitsInStock: { type: "number", validation: { min: 0, required: true } }
        //                }
        //            }
        //        }
        //    },
        //    navigatable: true,
        //    pageable: true,
        //    height: 550,
        //    toolbar: ["create", "save", "cancel"],
        //    columns: [
        //        "ProductName",
        //        { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: 120 },
        //        { field: "UnitsInStock", title: "Units In Stock", width: 120 },
        //        { field: "Discontinued", width: 120, editor: customBoolEditor },
        //        { command: "destroy", title: "&nbsp;", width: 150 }],
        //    editable: true
        //});


        //岗位列表
        var position = $("#positiongrid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "GET",
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    update: {
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "PUT",
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    destroy: {
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "DELETE",
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    create: {
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "POST",
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        },
                        complete: function (xhr, textStatus) {
                            kendoui_grid_complete(textStatus);
                            var grid = $("#positiongrid").data("kendoGrid");
                            grid.dataSource.read();
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models);
                        }
                        return options;
                    }
                },
                batch: true,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 20,
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string", editable: false, defaultValue: kendo.guid() },
                            ParentId: { type: "string", nullable: true, defaultValue: null },
                            Parent: { type: "object", nullable: true, defaultValue: null },
                            DeptmentId: { type: "string", nullable: true, defaultValue: null },
                            Code: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Notes: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: true,
            editable: true,
            pageable: true,
            toolbar: ["create", "save", "cancel", "destroy"],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Name",
                    title: "岗位名称",
                    width: 200
                },
                {
                    template: "#= data.Parent ? Parent.Name : '' #",
                    field: "Parent",
                    title: "上级岗位",
                    width: 200,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownTree({
                                template: "#= item.IsPosition ? '<i class=\"fa fa-sticky-note-o\"></i> ' : '' ##= item.Name #",
                                dataTextField: "Name",
                                //dataValueField: "id",
                                height: "200px",
                                loadOnDemand: true,
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: $.const.webapi.deptmentspositiontree
                                        }
                                    },
                                    schema: {
                                        model: {
                                            id: "Id",
                                            parentId: "ParentId"
                                        }
                                    }
                                },
                                select: function (e) {
                                    var dataItem = e.sender.dataItem(e.node);
                                    if (!dataItem.IsPosition) {
                                        e.preventDefault();
                                        alert("所选不是岗位！");
                                    }
                                }
                            });
                    }
                },
                {
                    field: "Code",
                    title: "岗位编码",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "描述",
                    width: 100
                },
                {
                    command: ["destroy"],
                    width: 100
                }
            ]
        });

    });

    function customBoolEditor(container, options) {
        var guid = kendo.guid();
        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
        $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
    }
</script>