
@{
    ViewBag.Title = "系统参数 2";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="left" class="col-xs-2 k-block">
                <div class="k-header">系统参数</div>
                <div id="treeview"></div>
            </div>
            <div id="main" class="col-xs-10">
                <div id="grid"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

@section scripts {
<script>

    $(document).ready(function () {
            
        //参数树数据源
        var hiDataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: "/api/v1/parametertreesapi",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "id",
                    hasChildren: "hasChildren",
                    children: "items",
                    expanded: true,
                    value: "value"
                },
            }
        });

        //主参数树
        var treeview = $("#treeview").kendoTreeView({
            dataSource: hiDataSource,
            //template: "#: item.text # <a class='myedit'><span class='k-icon k-i-edit' /></a>",
            dataBound: function (e) {
                treeview.select(".k-first");
                treeview.trigger("select", {
                    node: $("#treeview .k-first")[0]
                });
            },
            select: function (e) {
                var dataItem = treeview.dataItem(e.node);
                //var id = $(e.node).find(".key").data("id");
                dataSource.read({ id: dataItem.id });
            }
        }).data("kendoTreeView");

        //子数据源
        var dataSource = new kendo.data.DataSource($.extend(true, {}, $.const.kendolite.dataSource, {
            transport: {
                read: {
                    url: $.const.webapi.parameters,
                },
                create: {
                    url: $.const.webapi.parameters,
                },
                update: {
                    url: $.const.webapi.parameters,
                },
                destroy: {
                    url: $.const.webapi.parameters,
                }
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false, nullable: false, defaultValue: '' },
                        Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                        SystemName: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                        Value: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                        IsDefault: { type: "boolean" },
                        Rank: { type: "number" }
                    }
                }
            },
            batch: true
        }));

        //子参数列表
        var grid = $("#grid").kendoGrid($.extend(true, {}, $.const.kendolite, {
            dataSource: dataSource,
            autoBind: false,
            toolbar: ["create", "save", "cancel"],
            editable: true,
            columns: [
                {
                    field: "Name",
                    title: "参数名称",
                    width: 100
                },
                {
                    field: "SystemName",
                    title: "系统键",
                    width: 100
                },
                {
                    field: "Value",
                    title: "系统值",
                    width: 100
                },
                {
                    template: '<input type="checkbox" #= IsDefault ? "checked=\'checked\'" : "" # />',
                    field: "IsDefault",
                    title: "默认否",
                    width: 100
                },
                {
                    field: "Rank",
                    title: "排序",
                    format: "{0:0}",
                    width: 100
                }
            ]
        })).data("kendoGrid");

    });

</script>
}
