@{
    ViewBag.Title = "部门列表";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="main">
                <div id="treelist"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

@section scripts {
    <script>
        $(document).ready(function () {

            //数据源
            var dataSource = new kendo.data.TreeListDataSource($.extend(true, {}, $.const.kendotree.dataSource, {
                transport: {
                    read: {
                        url: $.const.webapi.deptments
                    },
                    update: {
                        url: $.const.webapi.deptments
                    },
                    destroy: {
                        url: $.const.webapi.deptments
                    },
                    create: {
                        url: $.const.webapi.deptments
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models[0]);
                        }
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        parentId: "ParentId",
                        fields: {
                            Id: { type: "number", editable: false },
                            ParentId: { type: "string", defaultValue: null },
                            Parent: { defaultValue: null },
                            Category: { type: "string" },
                            Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Notes: { type: "string" }
                        },
                        expanded: true
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            }));

            //列表
            var treelist = $("#treelist").kendoTreeList($.extend(true, {}, $.const.kendotree, {
                dataSource: dataSource,
                toolbar: ["create"],
                editable: true,
                columns: [
                    {
                        expandable: true,
                        field: "Name",
                        title: "部门名称",
                        width: 100
                    },
                    {
                        template: "#= data.Parent ? Parent.Name : '' #",
                        field: "Parent",
                        title: "上级部门",
                        width: 100,
                        editor: function (container, options) {
                            $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    autoBind: false,
                                    dataTextField: "Name",
                                    dataValueField: "Id",
                                    dataSource: {
                                        transport: {
                                            read: "/api/v1/deptmentbreadcrumbapi"
                                        }
                                    }
                                });
                        }
                    },
                    {
                        template: "#= data.CategoryName ? CategoryName : '' #",
                        field: "Category",
                        title: "类型",
                        width: 100,
                        editor: function (container, options) {
                            $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    autoBind: false,
                                    valuePrimitive: true,
                                    dataTextField: "Name",
                                    dataValueField: "Value",
                                    dataSource: {
                                        transport: {
                                            read: "/api/v1/deptmentcategoryapi"
                                        }
                                    }
                                });
                        }
                    },
                    {
                        field: "Notes",
                        title: "描述",
                        width: 100
                    },
                    {
                        command: [
                            {
                                name: "createchild",
                                text: "添加子项"
                            },
                            "edit",
                            "destroy"
                        ],
                        width: 150
                    }
                ]
            }));

        });
    </script>
}
