@{
    ViewBag.Title = "组织管理";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="left" class="col-xs-2 k-block">
                <div class="k-header">组织树</div>
                <div id="treeview"></div>
            </div>
            <div id="main" class="col-xs-10">
                <!--组织-->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">组织列表</h3>
                    </div>
                    <div class="box-body">
                        <div id="deptmentgrid"></div>
                    </div>
                </div>
                <!--岗位-->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">岗位列表</h3>
                    </div>
                    <div class="box-body">
                        <div id="positiongrid"></div>
                    </div>
                </div>
                <!--用户-->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title user-title">组织用户</h3>
                    </div>
                    <div class="box-body">
                        <div id="usergrid"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<script src="~/Areas/Manage/Scripts/deptments.js"></script>
<script src="~/Areas/Manage/Scripts/positions.js"></script>

<script>
    //变量
    var _selectedId = null;
    var _isDeptment = false;

    $(document).ready(function () {

        //树列表
        var treeview = $("#treeview").kendoTreeView({
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.deptmentspositiontree,
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        parentId: "ParentId",
                        hasChildren: "hasChildren"
                    },
                }
            },
            template: "#= item.IsDeptment ? '' : '<i class=\"fa fa-sticky-note-o\"></i> ' ##= item.Name #",
            select: function (e) {
                var dataItem = e.sender.dataItem(e.node);
                _selectedId = dataItem.Id;
                _isDeptment = dataItem.IsDeptment;

                //组织
                var deptment = $("#deptmentgrid").data("kendoGrid");
                deptment.dataSource.read();

                //岗位
                var position = $("#positiongrid").data("kendoGrid");
                position.dataSource.data([]);
                position.dataSource.read();
                if (_isDeptment) {
                    $(".user-title").text("组织用户");
                } else {
                    $(".user-title").text("岗位用户");
                }

                //用户
                var user = $("#usergrid").data("kendoGrid");
                if (_isDeptment) {
                    $("#usergrid .k-grid-toolbar").hide();
                    user.dataSource.transport.options.read.url = String.format($.const.webapi.deptmentsuser_id, _selectedId);
                } else {
                    $("#usergrid .k-grid-toolbar").show();
                    user.dataSource.transport.options.read.url = String.format($.const.webapi.positionsuser_id, _selectedId);
                }
                user.dataSource.page(1);
            }
        });

        setTimeout(function () {
            treeviewHeight();
        });

        //树高度
        function treeviewHeight() {
            var windowHeight = $(window).innerHeight();
            var offsetTop = $("#treeview").offset().top;
            var treeHeight = windowHeight - offsetTop - 20;
            $("#treeview").height(treeHeight);
        }

        //组织列表
        var deptment = $("#deptmentgrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    update: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    destroy: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    create: {
                        url: function (item) {
                            return String.format($.const.webapi.deptments_id, _selectedId);
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models);
                        }
                        return options;
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string", editable: false, defaultValue: kendo.guid() },
                            Name: { type: "string" },
                            Code: { type: "string" },
                            ParentId: { type: "string", nullable: true, defaultValue: null },
                            Parent: { type: "object", nullable: true, defaultValue: null },
                            Notes: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: true,
            filterable: false,
            pageable: false,
            scrollable: false,
            editable: true,
            toolbar: ["create", "save", "cancel", "destroy"],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Name",
                    title: "组织名称",
                    width: 200
                },
                {
                    template: "#= data.Parent ? Parent.Name : '' #",
                    field: "Parent",
                    title: "上级组织",
                    width: 200,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownTree({
                                //template: "#= item.IsPosition ? '<i class=\"fa fa-sticky-note-o\"></i> ' : '' ##= item.Name #",
                                dataTextField: "Name",
                                //dataValueField: "id",
                                height: "200px",
                                loadOnDemand: true,
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: $.const.webapi.deptmentstree
                                        }
                                    },
                                    schema: {
                                        model: {
                                            id: "Id",
                                            parentId: "ParentId"
                                        }
                                    }
                                }
                            });
                    }
                },
                {
                    field: "Code",
                    title: "组织编码",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "描述",
                    width: 100
                }
            ]
        })).data("kendoGrid");

        //组织删除按钮
        $("#deptmentgrid .k-grid-toolbar .k-grid-delete").on("click", function (e) {
            e.preventDefault();
            var selection = [];
            var grid = $("#deptmentgrid").data("kendoGrid");
            grid.select().each(function () {
                var dataItem = grid.dataItem($(this));
                selection.push(dataItem);
            });
            if (selection.length > 0) {
                if (window.confirm("你确定要删除这条数据吗？")) {
                    delete_deptments(_selectedId, selection, function (d) {
                        kendoui_ajax_complete();
                        grid.dataSource.read({ id: _selectedId });
                    }, function (e) {
                        kendoui_ajax_error(e);
                    });
                }
            }
        });

        //岗位列表
        var position = $("#positiongrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    update: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    destroy: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    create: {
                        url: function (item) {
                            return String.format($.const.webapi.positions_id, _selectedId);
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models);
                        }
                        return options;
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string", editable: false, defaultValue: kendo.guid() },
                            ParentId: { type: "string", nullable: true, defaultValue: null },
                            Parent: { type: "object", nullable: true, defaultValue: null },
                            TitleId: { type: "string" },
                            Title: { type: "object" },
                            DeptmentId: { type: "string", nullable: true, defaultValue: null },
                            Code: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                            Notes: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: false,
            filterable: false,
            pageable: false,
            scrollable: false,
            editable: true,
            toolbar: ["create", "save", "cancel", "destroy"],
            //toolbar: [{ name: "create", text: "新增" }, { name: "save", text: "保存" }, { name: "cancel", text: "取消" }, { name: "destroy", text: "删除" }],
            columns: [
                //{
                //    template: function (item) {
                //        return kendo.format("<input class='k-checkbox' id='{0}' type='checkbox' /><label for='{0}' class='k-checkbox-label k-no-text'></label>", kendo.guid());
                //    },
                //    width: 100
                //},
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Name",
                    title: "岗位名称",
                    width: 200
                },
                {
                    template: "#= data.Parent ? Parent.Name : '' #",
                    field: "Parent",
                    title: "上级岗位",
                    width: 200,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownTree({
                                template: "#= item.IsPosition ? '<i class=\"fa fa-sticky-note-o\"></i> ' : '' ##= item.Name #",
                                dataTextField: "Name",
                                //dataValueField: "id",
                                height: "200px",
                                loadOnDemand: true,
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: $.const.webapi.deptmentspositiontree
                                        }
                                    },
                                    schema: {
                                        model: {
                                            id: "Id",
                                            parentId: "ParentId"
                                        }
                                    }
                                },
                                select: function (e) {
                                    var dataItem = e.sender.dataItem(e.node);
                                    if (!dataItem.IsPosition) {
                                        e.preventDefault();
                                        alert("所选不是岗位！");
                                    }
                                }
                            });
                    }
                },
                {
                    template: "#= data.Title ? Title.Name : '' #",
                    field: "Title",
                    title: "职位",
                    width: 100,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownList({
                                dataTextField: "Name",
                                dataValueField: "Id",
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: "/api/v1/titlesapi"
                                        }
                                    }
                                }
                            });
                    }
                },
                {
                    field: "Code",
                    title: "岗位编码",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "描述",
                    width: 100
                }
            ],
            //dataBound: function () {
            //    $("input[type=checkbox]").on('click', function () {
            //        var checkedStatus = $(this).is(':checked');
            //        $(this).attr('checked', checkedStatus);
            //        $(this).closest("tr").toggleClass("k-state-selected");
            //    });
            //}
        }));

        //岗位删除按钮
        $("#positiongrid .k-grid-toolbar .k-grid-delete").on("click", function (e) {
            e.preventDefault();
            var selection = [];
            var grid = $("#positiongrid").data("kendoGrid");
            grid.select().each(function () {
                var dataItem = grid.dataItem($(this));
                selection.push(dataItem);
            });
            //var view = grid.dataSource.view();
            //grid.items().each(function (index, row) {
            //    var checked = $(row).find("input[type=checkbox]").prop("checked");
            //    if (checked) {
            //        selection.push(view[index]);
            //    }
            //});
            if (selection.length > 0) {
                if (window.confirm("你确定要删除这条数据吗？")) {
                    delete_positions(_selectedId, selection, function (d) {
                        kendoui_ajax_complete();
                        grid.dataSource.read();
                    }, function (e) {
                        kendoui_ajax_error(e);
                    });
                }
            }
        });

        //用户列表
        var user = $("#usergrid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
            dataSource: {
                transport: {
                    read: {
                        url: function (item) {
                            return String.format($.const.webapi.deptmentsuser_id, _selectedId);
                        }
                    }
                },
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string" },
                            UserName: { type: "string" },
                            UserCode: { type: "string" },
                            FirstName: { type: "string" },
                            Position: { type: "object" },
                            CreateDate: { type: "date" },
                            Remark: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: false,
            scrollable: false,
            toolbar: [{ name: "select", text: "选择", iconClass: "k-icon k-i-search" }, { name: "delete", text: "移除", iconClass: "k-icon k-i-delete" }],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Id",
                    title: "编号",
                    width: 100,
                    hidden: true
                },
                {
                    field: "FirstName",
                    title: "姓名",
                    width: 100
                },
                {
                    field: "UserName",
                    title: "用户名",
                    width: 100
                },
                {
                    field: "UserCode",
                    title: "用户编码",
                    width: 100
                },
                {
                    template: "#= data.Position ? Position.Name : '' #",
                    field: "Position",
                    title: "所属岗位",
                    width: 200
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 100
                }
            ]
        }));

        //用户选择按钮事件
        $("#usergrid .k-grid-toolbar").on("click", ".k-grid-select", function (e) {
            e.preventDefault();

            // ext dialog
            $.when(kendo.ui.ExtCommonDialog.show({
                width: "1000px",
                height: "500px",
                content: "/Manage/Home/UserSelect",
                title: "选择用户"
            })).done(function (response) {
                if (response.selected) {
                    insert_positionsuser(_selectedId, response.selected, function (d) {
                        kendoui_ajax_complete();
                        var grid = $("#usergrid").data("kendoGrid");
                        grid.dataSource.read();
                    });
                }
            });
        });

        //用户删除按钮事件
        $("#usergrid .k-grid-toolbar").on("click", ".k-grid-delete", function (e) {
            e.preventDefault();

            var items = $("#usergrid tbody .k-state-selected");
            if (items.length > 0) {
                var result = [];
                var grid = $("#usergrid").data("kendoGrid");
                for (var i = 0; i < items.length; i++) {
                    var dataItem = grid.dataItem(items[i]);
                    result.push(dataItem);
                }
                delete_positionsuser(_selectedId, result, function (d) {
                    kendoui_ajax_complete();
                    grid.dataSource.read();
                });
            }
        });

        //初始化
        $("#usergrid .k-grid-toolbar").hide();
    });

</script>
