@{
    ViewBag.Title = "部门列表";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="main">
                <div id="treelist"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

@section scripts {
    <script>
        $(document).ready(function () {

            //树数据源
            var treeDataSource = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: $.const.webapi.deptmentstree,
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        hasChildren: "hasChildren",
                        children: "items",
                        expanded: true,
                        value: "value"
                    },
                }
            });

            //数据源
            var dataSource = new kendo.data.TreeListDataSource($.extend(true, {}, $.const.kendotree.dataSource, {
                transport: {
                    read: {
                        url: $.const.webapi.deptments
                    },
                    update: {
                        url: $.const.webapi.deptments
                    },
                    destroy: {
                        url: $.const.webapi.deptments
                    },
                    create: {
                        url: $.const.webapi.deptments
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models);
                        }
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "Id",
                        parentId: "ParentId",
                        fields: {
                            Id: { type: "number", editable: false, nullable: false },
                            ParentId: { type: "string", defaultValue: null },
                            Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } }
                        },
                        expanded: true
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            }));

            //列表
            var treelist = $("#treelist").kendoTreeList($.extend(true, {}, $.const.kendotree, {
                dataSource: dataSource,
                toolbar: ["create", "save", "cancel"],
                editable: "incell",
                edit: function(e) {
                    //checking if a cell from the Test column is opened for editing
                    var dummyInput = e.container.find("input[name='ParentId']");
                    if (dummyInput.length > 0) {
                        var treeView = $(e.container).find(".treeViewEditor").data("kendoTreeView");
                        var originalItem = treeView.findByText(dummyInput.attr("ref"));
                        if (originalItem != null) {
                            // Select the item based on the field value
                            treeView.select(originalItem);
                        }
                    }
                },
                columns: [
                    {
                        expandable: true,
                        field: "Name",
                        title: "部门名称",
                        width: 100
                    },
                    {
                        template: "#= ParentName #",
                        field: "ParentId",
                        title: "上级部门",
                        width: 100,
                        editor: function (container, options) {
                            //var input = $('<input style="width: 100%;"/>');
                            //input.attr("name", options.field);
                            //input.appendTo(container);
                            //input.kendoDropDownTree({
                            //    dataSource: treeDataSource,
                            //    select: function (e) {
                            //        console.log(e);
                            //        var tv = $("#treelist").data("kendoTreeList");
                            //    }
                            //});
                            var input = $("<input class='tveInput' style='display: none;'/>");
                            input.attr("name", options.field);
                            var tvDiv = $("<div class='treeViewEditor'></div>");
                            $(tvDiv).kendoTreeView({
                                animation: false,
                                dataSource: treeDataSource
                            });
                            var treeView = $(tvDiv).data("kendoTreeView");
                            $(tvDiv).on("mousedown", ".k-in",  function (e) {
                                var clickedNode = $(e.toElement).closest("[role=treeitem]");
                                var dataItem = treeView.dataItem(clickedNode);
                                var dummyInput = clickedNode.closest("[role=gridcell]").find("input[name='ParentId']");
                                dummyInput.val(dataItem.id);
                                dummyInput.attr("ref", dataItem.text);
                                dummyInput.trigger("change");
                            });

                            tvDiv.appendTo(container);
                            input.appendTo(container);
                        }
                    },
                    {
                        command: [
                            {
                                name: "createchild",
                                text: "添加子项"
                            },
                            "edit",
                            "destroy"
                        ],
                        width: 100
                    }
                ]
            }));

        });
    </script>
}
