@{
    ViewBag.Title = "部门岗位";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="left" class="col-xs-2 k-block">
                <div class="k-header">部门列表</div>
                <div id="treeview"></div>
            </div>
            <div id="main" class="col-xs-10">
                <div id="grid"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<script src="~/Areas/Manage/Scripts/positions.js"></script>
<script>
    //变量
    var _selectedId = 0;

    $(document).ready(function () {

        //数据源
        var treeDataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: $.const.webapi.deptmentstree,
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "id",
                    parentId: "parentId",
                    hasChildren: "hasChildren",
                    value: "value"
                },
            }
        });

        //列表
        var treeview = $("#treeview").kendoTreeView({
            dataSource:treeDataSource,
            dataBound: function (e) {
                treeview.select(".k-first");
                treeview.trigger("select", {
                    node: $("#treeview .k-first")[0]
                });
            },
            select: function (e) {
                var dataItem = treeview.dataItem(e.node);
                _selectedId = dataItem.id;
                //刷新主列表
                grid.dataSource.read({ id: _selectedId });
            }
        }).data("kendoTreeView");

        //岗位列表
        var grid = $("#grid").kendoGrid($.extend(true, {}, $.const.kendolite, {
            dataSource: {
                transport: {
                    read: {
                        url: $.const.webapi.deptmentsposition,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false
                    }
                },
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Name: { type: "string" },
                            Code: { type: "string" },
                            Notes: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    kendoui_grid_error(e);
                }
            },
            autoBind: false,
            toolbar: [{ name: "select", text: "选择", iconClass: "k-icon k-i-search" }, { name: "delete", text: "删除", iconClass: "k-icon k-i-delete" }],
            columns: [
                {
                    selectable: true,
                    width: 100
                },
                {
                    field: "Name",
                    title: "岗位名称",
                    width: 100
                },
                {
                    field: "Code",
                    title: "岗位编码",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "描述",
                    width: 100
                }
            ]
        })).data("kendoGrid");

        //选择按钮事件
        $("#grid .k-grid-toolbar").on("click", ".k-grid-select", function (e) {
            e.preventDefault();
            positionselect_open();
        });

        //删除按钮事件
        $("#grid .k-grid-toolbar").on("click", ".k-grid-delete", function (e) {
            e.preventDefault();
            if (window.confirm("你确定要删除这条数据吗？")) {
                var items = $("#grid tbody .k-state-selected");
                if (items.length > 0) {
                    var result = [];
                    for (var i = 0; i < items.length; i++) {
                        var dataItem = grid.dataItem(items[i]);
                        result.push(dataItem);
                    }
                    delete_deptmentsposition(_selectedId, result, function (d) {
                        kendoui_ajax_complete();
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read({ id: _selectedId });
                    });
                }
            }
        });

    });

    //用户选择回调
    function positionselect_callback(dataItem) {
        insert_deptmentsposition(_selectedId, dataItem, function () {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read({ id: _selectedId });
        });
    }
</script>
