/*背景处理*/
body {
    font-family: 'Microsoft YaHei', SimHei;
    background: url('bg.jpg') no-repeat center;
    background-color: #333;
}

.skin-red .wrapper,
.content-wrapper {
    background-color: transparent !important;
}

.skin-red .main-header .navbar {
    background-color: transparent !important;
}


/*form处理*/
.form-control {
    padding: 6px;
}


/*头部处理*/
.main-header {
    z-index: 0;
    overflow: hidden;
    padding-top: 15px;
    position: fixed;
    width: 100%;
}

.main-header h3 {
    font-size: 22px;
    font-family: FangSong, SimHei;
    display: inline-block;
}

.main-header .navbar-brand {
    padding: 0;
    margin-left: 0 !important;
}


/*导航处理*/
.box-header .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}


/*content内容处理*/
.content {
    padding: 65px 0 0;
}

.content .box {
    margin-bottom: 0;
}

.content .box-body {
    padding-bottom: 0;
}

.content .box-footer {
    padding: 0 10px;
}


/*datepicker处理*/
.input-group .form-control {
    border-radius: 0 !important;
    width: 110px !important;
}

.input-group .input-group-addon {
    border-left: none;
    border-right: none;
}


/*smallbox处理*/
.small-box:hover {
    color: #333;
}

.small-box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.small-box h3 {
    font-size: 28px;
    margin: 0;
}

.small-box p {
    font-family: FangSong;
    color: #999;
    margin: 0;
}

/*jqgrid处理*/
.ui-jqgrid .ui-jqgrid-htable thead tr th {
    text-align: center;
}

.ui-jqgrid {
    border: none;
}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td,
.ui-jqgrid .ui-jqgrid-btable tbody tr.jqfoot td {
    padding: 2px !important;
    height: 33px !important;
    line-height: 33px !important;
}

.ui-jqgrid .form-control {
    height: 32px;
}

.ui-jqdialog {
    top: 50% !important;
    left: 50% !important;
    margin-left: -120px;
    margin-top: -60px;
}

.ui-jqdialog .ui-resizable-se {
    display: none;
}


/*tabs处理*/
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
    border-left-color: #ccc;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #ccc;
    border-right-color: #ccc;
}

.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #ccc;
}

.nav-tabs-custom {
    box-shadow: none;
}

/*tab-content*/
.tab-content {
    padding: 0 !important;
}