/*背景处理*/
body {
    font-family: 'Microsoft YaHei', SimHei;
    background: url('bg.jpg') repeat;
    background-color: #333;
}

.skin-red .wrapper,
.content-wrapper {
    background-color: transparent !important;
}

.skin-red .main-header .navbar {
    background-color: transparent !important;
}


/*form处理*/
.form-control {
    padding: 6px;
}

legend {
    font-size: 14px;
    color: #999;
}


/*头部处理*/
.main-header {
    z-index: 0;
    /*overflow: hidden;*/
    padding-top: 15px;
    position: fixed;
    width: 100%;
}

.main-header h3 {
    font-size: 22px;
    font-family: FangSong, SimHei;
    display: inline-block;
}

.main-header .navbar-brand {
    padding: 0;
    margin-left: 0 !important;
}


/*导航处理*/
.box-header .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}


/*content内容处理*/
.content {
    padding: 65px 0 0;
}

.content .box {
    margin-bottom: 0;
}

.content .box-body {
    /*padding-bottom: 0;*/
    min-height: 500px;
}



/*datepicker处理*/
.input-group .form-control {
    border-radius: 0 !important;
    width: 110px !important;
}

.input-group .input-group-addon {
    border-left: none;
    border-right: none;
}


/*smallbox处理*/
.small-box:hover {
    color: #333;
}

.small-box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.small-box h3 {
    font-size: 28px;
    margin: 0;
}

.small-box p {
    font-family: FangSong;
    color: #999;
    margin: 0;
}

/*jqgrid处理*/
.ui-jqgrid .ui-jqgrid-htable thead tr th {
    text-align: center;
}

.ui-jqgrid {
    border: none;
}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td,
.ui-jqgrid .ui-jqgrid-btable tbody tr.jqfoot td {
    padding: 2px !important;
    height: 33px !important;
    line-height: 33px !important;
}

.ui-jqgrid .form-control {
    height: 32px;
}

.ui-jqdialog {
    top: 50% !important;
    left: 50% !important;
    margin-left: -120px;
    margin-top: -60px;
}

.ui-jqdialog .ui-resizable-se {
    display: none;
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background-color: #e4e4e4;
}

.actions_css {
    width: 50px;
    height: 100%;
    margin: 0 auto !important;
}

#jqgh_jqGrid_ItemName {
    text-align: left !important;
}

#jqgh_jqGrid_ItemPrice,
#jqgh_zzGrid_ZhuanZhangMoney,
input[name='ItemPrice'],
input[name='ZhuanZhangMoney'] {
    text-align: right !important;
}

input[name='ItemBuyDate'],
input[name='CategoryTypeName'],
input[name='CardName'],
input[name='ZhuanTiName'],
input[name='ZhuanZhangDate'] {
    text-align: center !important;
}

/*tabs处理*/
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
    border-left-color: #ccc;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #ccc;
    border-right-color: #ccc;
}

.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #ccc;
}

.nav-tabs-custom {
    box-shadow: none;
}

/*tab-content*/
.tab-content {
    /*padding: 0 !important;*/
}

/*fine uploader*/
.qq-upload-button {
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-top: 3px !important;
    margin-bottom: 0 !important;
    padding: 6px 10px !important;
}

.qq-upload-list {
    overflow: hidden !important;
}

.qq-uploader {
    padding: 0 3px 0 0 !important;
    min-height: inherit !important;
    border-radius: 0 !important;
    border: none !important;
}

.qq-progress-bar {
    height: 2px !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.qq-upload-list {
    box-shadow: none !important;
}

.qq-upload-list li {
    padding: 0 !important;
}

.qq-upload-list li.qq-upload-success {
    border: none !important;
}

.uploaded-image {
    border: 1px solid #ccc;
    padding: 4px;
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
}