$base-theme:Default;
$skin-name:adminlte;
$border-radius: 0px;
$accent: #367fa9;
$info: #d0f8ff;
$success: #ddffd0;
$warning: #ffe44d;
$error: #ffded7;
$text-color: #787878;
$bg-color: #ffffff;
$base-text: #787878;
$base-bg: #fff;
$hovered-text: #ffffff;
$hovered-bg: #3c8dbc;
$selected-text: #ffffff;
$selected-bg: #367fa9;
$series-a: #8ebc00;
$series-b: #309b46;
$series-c: #25a0da;
$series-d: #ff6900;
$series-e: #e61e26;
$series-f: #d8e404;
