@using System.Configuration;

@{
    ViewBag.Title = "用户列表";
    var webSite = ConfigurationManager.AppSettings["webSite"].ToString();
    var pageNumber = WebConfiguration.PageNumber;
    var pagePerNumber = WebConfiguration.PagePerNumber;
}

<span id="notification"></span>

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline search-zone">
            <div class="form-group">
                <div class="k-widget k-button-group k-buttondown" id="buttondown">
                </div>
            </div>
            <div class="form-group">
                <label>日期</label>
                <input id="start" value="" class="s-input" />
                &minus;
                <input id="end" value="" class="s-input" />
            </div>
            <div class="form-group">
                <label>关键字</label>
                <input class="k-textbox" id="keysearch" value="" placeholder="用户名/昵称/邮箱" />
            </div>
        </form>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div id="main">
            <div id="grid"></div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->

@section scripts {
    <script>

        $(document).ready(function () {

            //刷新高度
            resizeMain();

            //查询对象
            var query = { startDate: "", endDate: "", keySearch: "" };

            //开始日期
            var start = $("#start").kendoDatePicker({
                change: changeDate,
                value: month_start(),
                format: "yyyy/MM/dd"
            }).data("kendoDatePicker");

            //结束日期
            var end = $("#end").kendoDatePicker({
                change: changeDate,
                value: month_end(),
                format: "yyyy/MM/dd"
            }).data("kendoDatePicker");

            //列表数据源
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        cache: false,
                        data: function (d) { return query },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Content-Encoding', "gzip");
                        }
                    },
                    create: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "POST"
                    },
                    update: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "PUT"
                    },
                    destroy: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "DELETE"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models[0]);
                        }
                        return options;
                    }
                },
                pageSize: @pagePerNumber,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                batch: true,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false, nullable: false, defaultValue: 0 },
                            UserName: {
                                type: "string",
                                validation: {
                                    required: true,
                                    validationMessage: "用户名为必填项",
                                    usernamevalidation: function (input) {
                                        if (input.is("[name='UserName']") && input.val() != "") {
                                            input.attr("data-usernamevalidation-msg", "用户名必须3-20位");
                                            return input.val().length >= 3 && input.val().length <= 20;
                                        }
                                        return true;
                                    }
                                }
                            },
                            UserPassword: { type: "string", validation: { required: true, validationMessage: "密码为必填项" } },
                            UserNickName: { type: "string" },
                            UserImageFull: { type: "string", defaultValue: "user.gif" },
                            UserEmail: { type: "string", validation: { email: true, validationMessage: "不是合法的邮件地址" } },
                            UserTheme: { type: "string", defaultValue: "main" },
                            UserThemeName: { type: "string" },
                            UserLevel: { type: "number", defaultValue: 9 },
                            UserLevelName: { type: "string" },
                            UserFrom: { type: "string", defaultValue: "web" },
                            UserFromName: { type: "string" },
                            ModifyDate: { type: "date", editable: false },
                            CreateDate: { type: "date", editable: false },
                            Synchronize: { type: "number", validation: { min: 0, max: 1 } }
                        }
                    }
                }
            });

            //用户来自数据源
            var dataUserFrom = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/api/v1/userfromapi",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        fields: {
                            Key: { type: "string" },
                            Value: { type: "string" }
                        }
                    }
                }
            });

            //列表
            var grid = $("#grid").kendoGrid({
                dataSource: dataSource,
                autoBind: false,
                navigatable: true,
                editable: "inline",
                resizable: true,
                filterable: false,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true,
                    showIndexes: true
                },
                groupable: false,
                //selectable: "multiple",
                pageable: {
                    pageSizes: @pageNumber,
                    buttonCount: 10,
                    messages: {
                        display: "共 {2} 条"
                    }
                },
                columnMenu: {
                    columns: false
                },
                toolbar: ["create"],
                columns: [
                    {
                        command: [
                            { name: "edit", text: { edit: " ", cancel: " ", update: " " } },
                            { name: "destroy", text: " " }
                        ],
                        title: "&nbsp;",
                        locked: false,
                        width: 80
                    },
                    {
                        template: "<a href='@Url.Action("Index", "User")?id=#:Id#'>#:Id#</a>",
                        field: "Id",
                        title: "编号",
                        width: 80
                    },
                    {
                        field: "UserName",
                        title: "用户名",
                        width: 100
                    },
                    {
                        field: "UserPassword",
                        title: "密码",
                        width: 100
                    },
                    {
                        field: "UserNickName",
                        title: "昵称",
                        width: 100
                    },
                    {
                        template: "<div class='k-user'><img src='#if(UserImageFull.indexOf('http')){#@webSite/Images/Users/#:UserImageFull##}else{##:UserImageFull##}#'></div>",
                        field: "UserImageFull",
                        title: "头像",
                        width: 100,
                        attributes: { style: "text-align: center" },
                        editor: function (container, options) {
                            if (options.model.Id == 0) {
                                $("<div class='k-user'><img src='@webSite/Images/Users/user.gif'></div>").appendTo(container);
                                return;
                            }
                            var input = $("<input type='file' />");
                            input.attr("name", options.field);
                            input.appendTo(container);
                            input.kendoUpload({
                                multiple: false,
                                showFileList: false,
                                async: {
                                    saveUrl: '/api/v1/userimageapi?userId=' + options.model.Id,
                                    autoUpload: true
                                },
                                localization: {
                                    select: "选择"
                                },
                                validation: {
                                    allowedExtensions: [".jpg", ".png", ".gif", ".bmp"]
                                },
                                success: function (e) {
                                    notification.show("头像更新成功。", "success");
                                    $("#grid").data("kendoGrid").dataSource.read();
                                },
                                error: function (e) {
                                    notification.show("头像更新失败！", "error");
                                }
                            });
                        }
                    },
                    {
                        field: "UserEmail",
                        title: "邮箱",
                        width: 150
                    },
                    {
                        template: "#= UserThemeName #",
                        field: "UserTheme",
                        title: "样式",
                        width: 90,
                        editor: function (container, options) {
                            var input = $("<input required validationmessage='样式为必选项' />");
                            input.attr("name", options.field);
                            input.appendTo(container);
                            input.kendoDropDownList({
                                dataTextField: "name",
                                dataValueField: "theme",
                                dataSource: dataTheme,
                                animation: false
                            });
                            $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>').appendTo(container);
                        },
                        filterable: {
                            multi: true,
                            dataSource: [{
                                UserTheme: "main",
                            }, {
                                UserTheme: "blue",
                            }, {
                                UserTheme: "gold",
                            }]
                        }
                    },
                    {
                        template: "#= UserLevelName #",
                        field: "UserLevel",
                        title: "等级",
                        width: 90,
                        editor: function (container, options) {
                            var input = $("<input required validationmessage='等级为必选项' />");
                            input.attr("name", options.field);
                            input.appendTo(container);
                            input.kendoDropDownList({
                                dataTextField: "name",
                                dataValueField: "level",
                                dataSource: dataLevel,
                                animation: false
                            });
                            $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>').appendTo(container);
                        },
                        filterable: {
                            multi: true,
                            dataSource: [{
                                UserLevel: "1",
                            }, {
                                UserLevel: "9",
                            }]
                        }
                    },
                    {
                        template: "#= UserFromName #",
                        field: "UserFrom",
                        title: "来自",
                        width: 120,
                        editor: function (container, options) {
                            var input = $("<input required validationmessage='来自为必选项' />");
                            input.attr("name", options.field);
                            input.appendTo(container);
                            input.kendoDropDownList({
                                dataTextField: "Value",
                                dataValueField: "Key",
                                dataSource: dataUserFrom,
                                animation: false
                            });
                            $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>').appendTo(container);
                        },
                        filterable: {
                            multi: true,
                            dataSource: dataUserFrom,
                            itemTemplate: function (e) {
                                if (e.field == "all") {
                                    //handle the check-all checkbox template
                                    return "<li class='k-item'><label class='k-label'><input type='checkbox' class='k-check-all'/>#=all#</label></li>";
                                } else {
                                    //handle the other checkboxes
                                    return "<li class='k-item'><label class='k-label'><input type='checkbox' value='#=Key#'/>#=Value#</label></li>"
                                }
                            }
                        }
                    },
                    {
                        field: "CreateDate",
                        title: "注册日期",
                        width: 150,
                        format: "{0:yyyy/MM/dd HH:mm:ss}"
                    },
                    {
                        field: "ModifyDate",
                        title: "修改日期",
                        width: 150,
                        format: "{0:yyyy/MM/dd HH:mm:ss}"
                    },
                    {
                        field: "Synchronize",
                        title: "同步否",
                        width: 80,
                        filterable: { multi: true }
                    }
                ]
            }).data("kendoGrid");

            //自定义按钮组
            var buttonDown = $("#buttondown").kendoButtomDown({
                dataSource: [
                    { title: "全部", code: "b_all" },
                    { title: "本年", code: "b_year", sub: true },
                    { title: "本季", code: "b_quarter", sub: true },
                    { title: "本月", code: "b_month", sub: true },
                    { title: "本周", code: "b_week", sub: true },
                    { title: "本日", code: "b_day", sub: true }
                ],
                callback: function (data) {
                    setDate(data.startDate, data.endDate);
                    query.buttonDown = data.buttonDown;
                    queryList(true);
                }
            }).data("kendoButtomDown");

            //关键字组件
            var keySearch = $("#keysearch").kendoKeySearch({
                minLength: 1,
                done: function (key) {
                    setButtonDown("");
                    setDate("", "");
                    queryList();
                },
                focus: function (e) {
                    if (!e.key) {
                        setQuery();
                        e.data = { "startDate": start.value(), "endDate": end.value(), "buttonDown": query.buttonDown };
                    }
                },
                empty: function (data) {
                    setDate(data.startDate, data.endDate);
                    setButtonDown(data.buttonDown);
                    queryList();
                }
            }).data("kendoKeySearch");

            //提示
            var notification = $("#notification").kendoNotification({
                position: {
                    top: Math.floor($(window).height() / 2.5),
                    left: Math.floor($(window).width() / 2.2),
                    pinning: false
                }
            }).data("kendoNotification");

            //更改日期事件
            function changeDate() {
                setButtonDown("");
                queryList(true);
            }

            //设置日期值
            function setDate(startDate, endDate) {
                start.value(startDate);
                end.value(endDate);
            }

            //关键字清除
            function clearKey() {
                query.keySearch = "";
                keySearch.clear();
            }

            //设置按钮下拉
            function setButtonDown(code) {
                query.buttonDown = code;
                buttonDown.selected(code);
            }

            //设置查询条件
            function setQuery() {
                var _start = start.value();
                if (_start == null) _start = "";
                query.startDate = kendo.toString(_start, "yyyy/MM/dd 00:00:00");

                var _end = end.value();
                if (_end == null) _end = "";
                query.endDate = kendo.toString(_end, "yyyy/MM/dd 23:59:59");

                query.keySearch = keySearch.value();
            }

            //列表查询
            function queryList(flag) {
                if (flag) {
                    clearKey();
                }
                setQuery();
                dataSource.page(1);
                dataSource.skip(0);
            }

            //初始化
            function init() {
                setButtonDown("b_day");
                setDate(today_date(), today_date());
            }

            //resizeGrid();
            init();
            queryList();
            navActive(0);

        });
    </script>
}