@using System.Configuration;
@using AALife.Core.Infrastructure;
@using AALife.Data;

@{
    ViewBag.Title = "用户列表";
}

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline search-zone">
            <div class="form-group">
                <div class="k-widget k-button-group k-buttondown" id="buttondown">
                </div>
            </div>
            <div class="form-group">
                <label>日期</label>
                <input id="start" value="" class="s-input" />
                &minus;
                <input id="end" value="" class="s-input" />
            </div>
            <div class="form-group">
                <label>关键字</label>
                <input class="k-textbox" id="keysearch" value="" placeholder="用户名/昵称/邮箱" />
            </div>
        </form>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div id="main">
            <div id="grid"></div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->

@section scripts {
    <script>

        $(document).ready(function () {

            //刷新高度
            resizeMain();

            //开始日期
            var start = $("#start").kendoDatePicker({
                change: changeDate,
                format: "yyyy/MM/dd"
            }).data("kendoDatePicker");

            //结束日期
            var end = $("#end").kendoDatePicker({
                change: changeDate,
                format: "yyyy/MM/dd"
            }).data("kendoDatePicker");

            //列表数据源
            var dataSource = new kendo.data.DataSource($.extend(true, {}, $.const.kendogrid.dataSource, {
                transport: {
                    read: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: function (d) { return getQuery() },
                        cache: false
                    },
                    create: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "POST",
                        complete: function (xhr, textStatus) {
                            display_kendoui_grid_complete(textStatus, grid, notification);
                        }
                    },
                    update: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "PUT",
                        complete: function (xhr, textStatus) {
                            display_kendoui_grid_complete(textStatus, grid, notification);
                        }
                    },
                    destroy: {
                        url: $.const.webapi.users,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        type: "DELETE",
                        complete: function (xhr, textStatus) {
                            display_kendoui_grid_complete(textStatus, grid, notification);
                        }
                    },
                    parameterMap: function (options, operation) {
                        parameter_format(options);
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models[0]);
                        }
                        return options;
                    }
                },
                pageSize: $.const.siteSettings.PageNumber,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false, nullable: false, defaultValue: '' },
                            UserName: {
                                type: "string",
                                validation: {
                                    required: true,
                                    validationMessage: "用户名为必填项",
                                    usernamevalidation: function (input) {
                                        if (input.is("[name='UserName']") && input.val() != "") {
                                            input.attr("data-usernamevalidation-msg", "用户名必须3-20位");
                                            return input.val().length >= 3 && input.val().length <= 20;
                                        }
                                        return true;
                                    }
                                }
                            },
                            UserPassword: { type: "string", validation: { required: true, validationMessage: "密码为必填项" } },
                            UserNickName: { type: "string" },
                            UserImage: { type: "string" },
                            UserImageFull: { type: "string" },
                            UserTheme: { type: "string", defaultValue: $.const.siteSettings.DefaultTheme },
                            UserThemeName: { type: "string" },
                            UserLevel: { type: "number", defaultValue: $.const.siteSettings.DefaultLevel },
                            UserLevelName: { type: "string" },
                            UserFrom: { type: "string", defaultValue: $.const.siteSettings.DefaultFrom },
                            UserFromName: { type: "string" },
                            ModifyDate: { type: "date", editable: false },
                            CreateDate: { type: "date", editable: false },
                            Synchronize: { type: "number", defaultValue: 1, validation: { min: 0, max: 1 } },
                            Remark: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }
            }));

            //用户来自数据源
            var dataUserFrom = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: String.format($.const.webapi.paramsbyname, "userfrom"),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    }
                }
            });

            //主题数据源
            var dataTheme = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: String.format($.const.webapi.paramsbyname, "theme"),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    }
                }
            });

            //用户等级数据源
            var dataUserLevel = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: String.format($.const.webapi.paramsbyname, "userlevel"),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    }
                }
            });

            //列表
            var grid = $("#grid").kendoGrid($.extend(true, {}, $.const.kendogrid, {
                dataSource: dataSource,
                autoBind: false,
                toolbar: ["create"],
                pageable: {
                    pageSizes: JSON.parse($.const.siteSettings.PageNumbers),
                },
                columns: [
                {
                    command: [
                        { name: "edit", text: { edit: " ", cancel: " ", update: " " } },
                        { name: "destroy", text: " " }
                    ],
                    title: "&nbsp;",
                    width: 80
                },
                {
                    template: "<a href='@Url.Action("Details", "Users")?id=#:Id#'>#:Id#</a>",
                    field: "Id",
                    title: "编号",
                    width: 80
                },
                {
                    field: "UserName",
                    title: "用户名",
                    width: 100
                },
                {
                    field: "UserPassword",
                    title: "密码",
                    width: 100
                },
                {
                    field: "UserNickName",
                    title: "昵称",
                    width: 100
                },
                {
                    template: "<div class='k-user'><img src='#=UserImageFull#'></div>",
                    field: "UserImage",
                    title: "头像",
                    width: 100,
                    attributes: { style: "text-align: center" },
                    editor: function (container, options) {
                        if (options.model.Id == 0) {
                            $("<div class='k-user'><img src='/Images/Users/user.gif'></div>").appendTo(container);
                            return;
                        }
                        var input = $("<input type='file' />");
                        input.attr("name", options.field);
                        input.appendTo(container);
                        input.kendoUpload({
                            multiple: false,
                            showFileList: false,
                            async: {
                                saveUrl: '/api/v1/userimageapi?userId=' + options.model.Id,
                                autoUpload: true
                            },
                            localization: {
                                select: "选择"
                            },
                            validation: {
                                allowedExtensions: [".jpg", ".png", ".gif", ".bmp"]
                            },
                            success: function (e) {
                                notification.show("头像更新成功。", "success");
                                $("#grid").data("kendoGrid").dataSource.read();
                            },
                            error: function (e) {
                                notification.show("头像更新失败！", "error");
                            }
                        });
                    }
                },
                {
                    template: "#= UserThemeName #",
                    field: "UserTheme",
                    title: "样式",
                    width: 80,
                    editor: function (container, options) {
                        var input = $("<input required validationmessage='样式为必选项' />");
                        input.attr("name", options.field);
                        input.appendTo(container);
                        input.kendoDropDownList({
                            dataTextField: "Name",
                            dataValueField: "Value",
                            dataSource: dataTheme,
                            animation: false
                        });
                        $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>').appendTo(container);
                    },
                    filterable: {
                        multi: true,
                        dataSource: dataTheme,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>";
                        }
                    }
                },
                {
                    template: "#= UserLevelName #",
                    field: "UserLevel",
                    title: "等级",
                    width: 80,
                    editor: function (container, options) {
                        var input = $("<input required validationmessage='等级为必选项' />");
                        input.attr("name", options.field);
                        input.appendTo(container);
                        input.kendoDropDownList({
                            dataTextField: "Name",
                            dataValueField: "Value",
                            dataSource: dataUserLevel,
                            animation: false
                        });
                        $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>').appendTo(container);
                    },
                    filterable: {
                        multi: true,
                        dataSource: dataUserLevel,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>";
                        }
                    }
                },
                {
                    template: "#= UserFromName #",
                    field: "UserFrom",
                    title: "来自",
                    width: 120,
                    editor: function (container, options) {
                        var input = $("<input required validationmessage='来自为必选项' />");
                        input.attr("name", options.field);
                        input.appendTo(container);
                        input.kendoDropDownList({
                            dataTextField: "Name",
                            dataValueField: "Value",
                            dataSource: dataUserFrom,
                            animation: false
                        });
                        $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>').appendTo(container);
                    },
                    filterable: {
                        multi: true,
                        dataSource: dataUserFrom,
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>";
                        }
                    }
                },
                {
                    field: "CreateDate",
                    title: "注册日期",
                    width: 150,
                    format: "{0:yyyy/MM/dd HH:mm:ss}"
                },
                {
                    field: "ModifyDate",
                    title: "修改日期",
                    width: 150,
                    format: "{0:yyyy/MM/dd HH:mm:ss}"
                },
                {
                    field: "Synchronize",
                    title: "同步否",
                    width: 80,
                    format: "{0:0}",
                    filterable: {
                        multi: true,
                        dataSource: [{ Name: "0", Value: "0" }, { Name: "1", Value: "1" }],
                        itemTemplate: function (e) {
                            return "<li class='k-item'><label class='k-label'><input type='checkbox' name='" + e.field + "' value='#= data.Value #'/> #= data.Name || data.all #</label></li>";
                        }
                    }
                },
                {
                    field: "Remark",
                    title: "备注",
                    width: 150
                }
            ]
            })).data("kendoGrid");

            //自定义按钮组
            var buttonDown = $("#buttondown").kendoButtomDown({
                dataSource: [
                    { title: "全部", code: "b_all" },
                    { title: "本年", code: "b_year", sub: true },
                    { title: "本季", code: "b_quarter", sub: true },
                    { title: "本月", code: "b_month", sub: true },
                    { title: "本周", code: "b_week", sub: true },
                    { title: "本日", code: "b_day", sub: true }
                ],
                callback: function (data) {
                    setDate(data.startDate, data.endDate);
                    queryList();
                }
            }).data("kendoButtomDown");

            //关键字组件
            var keySearch = $("#keysearch").kendoKeySearch({
                minLength: 1,
                done: function (key) {
                    setDate("", "");
                    buttonDown.selected("");
                    queryList();
                },
                focus: function (e) {
                    if (!e.key) {
                        e.data = { "startDate": start.value(), "endDate": end.value(), "buttonDown": buttonDown.value() };
                    }
                },
                empty: function (data) {
                    setDate(data.startDate, data.endDate);
                    buttonDown.selected(data.buttonDown);
                    queryList();
                }
            }).data("kendoKeySearch");

            //更改日期事件
            function changeDate() {
                buttonDown.selected("");
                queryList();
            }

            //设置日期值
            function setDate(startDate, endDate) {
                start.value(startDate);
                end.value(endDate);
            }

            //列表查询
            function queryList() {
                dataSource.page(1);
                dataSource.skip(0);
            }

            //取查询条件
            function getQuery() {
                return {
                    startDate: kendo.toString(start.value(), "yyyy/MM/dd 00:00:00"),
                    endDate: kendo.toString(end.value(), "yyyy/MM/dd 23:59:59"),
                    keyWords: keySearch ? keySearch.value() : ""
                }
            }

        });
    </script>
}