@{
    ViewBag.Title = "用户测试 3";
}

<link href="~/Scripts/kendo-plugins/styles/kendo.web.plugins.css" rel="stylesheet" />
<script src="~/Scripts/kendo-plugins/js/kendo.web.plugins.js"></script>

<input id="deptmentuserselect" autocomplete="off" />

<input id="userselect" autocomplete="off" />

@*<span class="k-widget k-combobox k-selectdialog">
        <span unselectable="on" class="k-dropdown-wrap k-state-default" tabindex="-1">
            <input name="userselect" class="k-input" type="text" autocomplete="off" placeholder="请选择" />
            <span unselectable="on" class="k-select" role="button" tabindex="-1"><span class="k-icon k-i-search"></span></span>
        </span>
    </span>*@
@*<button id="showOkCancelDialogButton" class="k-button">Show OK/Cancel Dialog</button>*@

<div id="example">
    <div id="grid"></div>

    <script>
        ;(function ($) {
            var MyGrid = kendo.ui.Grid.extend({
                init: function (element, options) {
                    kendo.ui.Grid.fn.init.call(this, element, options);
                },
                options: {
                    name: "MyGrid"
                }
            });
            kendo.ui.plugin(MyGrid);
        })(jQuery);

        function onChange(arg) {
            kendoConsole.log("The selected product ids are: [" + this.selectedKeyNames().join(", ") + "]");
        }

        $(document).ready(function () {
            $("#grid").kendoMyGrid({
                dataSource: {
                    pageSize: 10,
                    transport: {
                        read: {
                            url: "https://demos.telerik.com/kendo-ui/service/Products",
                            dataType: "jsonp"
                        }
                    },
                    schema: {
                        model: {
                            id: "ProductID"
                        }
                    }
                },
                pageable: true,
                scrollable: false,
                persistSelection: true,
                sortable: true,
                change: onChange,
                columns: [
                    { selectable: true, width: "50px" },
                    { field: "ProductName", title: "Product Name" },
                    { field: "UnitPrice", title: "Unit Price", format: "{0:c}" },
                    { field: "UnitsInStock", title: "Units In Stock" },
                    { field: "Discontinued" }]
            });
        });

    </script>
    <div class="box wide">
        <h4>Console log</h4>
        <div class="console"></div>
    </div>
    <style>
        .console div {
            height: 3.3em;
        }
    </style>
</div>

<script>

    $(function () {
        $("#deptmentuserselect").kendoMyWidget({
            dialog: {
                width: "1000px",
                height: "500px",
                content: "/Manage/Home/DeptmentUserSelect",
                title: "选择用户",
                close: function (data) {
                    console.log(data);
                    $("#deptmentuserselect").val(data[0]["FirstName"]);
                }
            }
        });

        $("#userselect").kendoMyWidget({
            dialog: {
                width: "1000px",
                height: "500px",
                content: "/Manage/Home/UserSelect",
                title: "选择用户",
                close: function (data) {
                    console.log(data);
                    $("#userselect").val(data[0]["FirstName"]);
                }
            }
        });

        //$(".k-selectdialog .k-select[role=button]").on("click", function () {
        //    $.when(kendo.ui.ExtUserDialog.show({
        //        width: "1000px",
        //        height: "500px",
        //        content: "/Manage/Home/Index",
        //        title: "选择用户"
        //    })).done(function (response) {
        //        if (response.selected) {
        //            console.log(response.selected);
        //            $(".k-selectdialog input").val(response.selected[0]["UserName"]);
        //            //alert(kendo.format("<div>{0} button clicked at: {1}</div>", response.button, response.selected));
        //        }
        //    });
        //});
    });

</script>