
@{
    ViewBag.Title = "参数管理";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="left" class="col-xs-2 k-block">
                <div class="k-header">参数列表</div>
                <div id="treeview"></div>
            </div>
            <div id="main" class="col-xs-10">
                <div id="grid"></div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

@section scripts {
<script>
    //变量
    var _selectedId = 0;

    $(document).ready(function () {
            
        //参数树数据源
        var hiDataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: $.const.webapi.parameterstree,
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "Id",
                    hasChildren: "hasChildren",
                    children: "items",
                },
            }
        });

        //主参数树
        var treeview = $("#treeview").kendoTreeView({
            dataSource: hiDataSource,
            //template: "#: item.text # <a class='myedit'><span class='k-icon k-i-edit' /></a>",
            dataBound: function (e) {
                treeview.select(".k-first");
                treeview.trigger("select", {
                    node: $("#treeview .k-first")[0]
                });
            },
            select: function (e) {
                var dataItem = treeview.dataItem(e.node);
                _selectedId = dataItem.id;
                dataSource.read({ id: _selectedId });
            }
        }).data("kendoTreeView");

        //子数据源
        var dataSource = new kendo.data.DataSource($.extend(true, {}, $.const.kendolite.dataSource, {
            transport: {
                read: {
                    url: $.const.webapi.parameters
                },
                create: {
                    url: function (options) {
                        return String.format($.const.webapi.parameters_id, _selectedId);
                    }
                },
                update: {
                    url: function (options) {
                        return String.format($.const.webapi.parameters_id, _selectedId);
                    }
                },
                destroy: {
                    url: $.const.webapi.parameters
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return kendo.stringify(options.models);
                    }
                    return options;
                }
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false, nullable: false },
                        ParentId: { type: "string" },
                        Name: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                        Value: { type: "string", validation: { required: true, validationMessage: "必填项！" } },
                        IsDefault: { type: "boolean" },
                        IsLeaf: { type: "boolean" },
                        Rank: { type: "number", defaultValue: 1 },
                        Notes: { type: "string" }
                    }
                }
            },
            batch: true
        }));

        //子参数列表
        var grid = $("#grid").kendoGrid($.extend(true, {}, $.const.kendolite, {
            dataSource: dataSource,
            autoBind: false,
            toolbar: ["create", "save", "cancel"],
            editable: true,
            columns: [
                {
                    field: "Name",
                    title: "参数名称",
                    width: 100
                },
                {
                    field: "Value",
                    title: "系统值",
                    width: 100
                },
                {
                    template: "#= IsDefault ? '<i class=\"fa fa-check\"></i>' : '<i class=\"fa fa-close\"></i>' #",
                    attributes: { class: "text-center" },
                    field: "IsDefault",
                    title: "默认否",
                    width: 100
                },
                {
                    template: "#= IsLeaf ? '<i class=\"fa fa-check\"></i>' : '<i class=\"fa fa-close\"></i>' #",
                    attributes: { class: "text-center" },
                    field: "IsLeaf",
                    title: "叶子否",
                    width: 100
                },
                {
                    attributes: { class: "text-center" },
                    field: "Rank",
                    title: "排序",
                    format: "{0:0}",
                    width: 100
                },
                {
                    field: "Notes",
                    title: "说明",
                    width: 100
                }
            ]
        })).data("kendoGrid");

    });

</script>
}
