@{
    ViewBag.Title = "找回密码";
    var siteName = WebConfiguration.SiteName;
}

<div class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">@siteName</a>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST">
                    <div class="msg">
                        输入您注册时的邮箱，我们将会给您发送一封重置密码的电子邮件。
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="邮箱" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">找回密码</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="@Url.Action("Login")">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

