@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">@ViewBag.Title</p>
        <form action="~/Account/Login?returnUrl=@ViewBag.ReturnUrl" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="UserName" data-val="true" data-val-required="用户名不能为空。" placeholder="用户名" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="UserPassword" data-val="true" data-val-required="密码不能为空。" placeholder="密码" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="field-validation-valid text-danger" data-valmsg-for="UserPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> 记住我
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
        </div>
        <!-- /.social-auth-links -->
        <a href="#">找回密码？</a><br>
        <a href="register.html" class="text-center">注册新用户</a>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->