<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="${basedir}/Log/${date:format=yyyyMMdd}_log.log" encoding="utf-8" />
        <target name="logsex" xsi:type="File" fileName="${basedir}/Log/${date:format=yyyyMMdd}_sex.log" encoding="utf-8" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="logfile" />
        <logger name="logsex" minlevel="Warn" maxlevel="Fatal" writeTo="logsex" />
    </rules>
</nlog>