<?xml version="1.0"?>
<Root>
  <SiteName>AA生活记账</SiteName>
  <SiteAuthor>冯湘灵</SiteAuthor>
  <SiteKeywords>记账2018,记账app,记账软件,记账网站,在线记账,云记账,简单记账,AA生活记账,好用的记账软件</SiteKeywords>
  <SiteDescription>AA生活记账是一款记录收入、支出、借还消费，使用简单的手机记账APP。包括类别排行、次数排行、单价排行、日期排行、区间统计、推荐统计，比较分析、收支分析、借还分析、趣味统计，和区间记账、专题记账、语音记账、数据同步、数据导出、云备份，我的钱包、钱包转账、转账明细、类别预警、搜索等实用功能。</SiteDescription>
  <PagePerNumber>50</PagePerNumber>
  <SiteTips>&amp;lt;a&amp;nbsp;href=&amp;quot;http://www.fxlweb.com/Web2018/Default.aspx&amp;quot;&amp;nbsp;style=&amp;quot;color:#00ff00;&amp;quot;&amp;gt;新版&amp;lt;/a&amp;gt;&amp;nbsp;|&amp;nbsp;&amp;lt;a&amp;nbsp;href=&amp;quot;http://www.fxlweb.com/Web2015/Default.aspx&amp;quot;&amp;nbsp;style=&amp;quot;color:#00ff00;&amp;quot;&amp;gt;旧版&amp;lt;/a&amp;gt;&amp;nbsp;|&amp;nbsp;&amp;lt;a&amp;nbsp;href=&amp;quot;http://www.fxlweb.com/app/AALifeNew.apk&amp;quot;&amp;nbsp;style=&amp;quot;color:#00ff00;&amp;quot;&amp;gt;安卓版下载&amp;lt;/a&amp;gt;</SiteTips>
  <MessageCode>20</MessageCode>
  <SiteMessage>
  </SiteMessage>
  <PhoneMessage>
  </PhoneMessage>
  <UserWorkDay>5</UserWorkDay>
  <CategoryRate>80</CategoryRate>
</Root>