<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <connectionStrings>
    <add name="AALifeWebForApp" connectionString="Server=(local); Initial Catalog=aalife_20170820; Persist Security Info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="AALifeDbContext" connectionString="metadata=res://*/AALifeModel.csdl|res://*/AALifeModel.ssdl|res://*/AALifeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FENG-PC;initial catalog=aalife_20170820;integrated security=False;uid=sa;pwd=feng333;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AALifeDbContext" connectionString="metadata=res://*/Models.AALifeModel.csdl|res://*/Models.AALifeModel.ssdl|res://*/Models.AALifeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bds261774413.my3w.com;initial catalog=bds261774413_db;persist security info=True;user id=bds261774413;password=feng7459235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <trace enabled="true" />
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="30" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".xap" />
            <mimeMap fileExtension=".bak" mimeType="text/plain" />
            <mimeMap fileExtension=".xap" mimeType="application/x-silverlight-2" />
        </staticContent>
    </system.webServer>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="2147483644"/>
            </webServices>
        </scripting>
    </system.web.extensions>
</configuration>