<button class="btn btn-flat btn-sm bg-maroon" id="btn-add-card"><i class="fa fa-plus"></i> 添加</button>
<table id="cardGrid"></table>
<script src="~/Scripts/datas/user-card.js"></script>
<script>
    //添加按钮
    $("#btn-add-card").on("click", function () {
        jQuery("#cardGrid").jqGrid('addRow', { useDefValues: true, useFormatter: true });
    });
</script>