@{
    ViewBag.Title = "更新密码";
}

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> @ViewBag.Title</li>
            </ol>
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
            <button type="submit" class="btn btn-flat btn-primary">更新</button>
            }
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

@section scripts {
    
}